<!doctype html>
<html lang="pt-br">

<head>
    <title>Lição N° 1 | Programação</title>
    <meta name="keywords" content="Apps Login Form Responsive widget, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script language="JavaScript">
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
    </script>
    <style>
        td {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 22px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <h4 class="navbar-brand ml-5" href="/mapa" style="font-size: 25px">Lição 1</h4>

        <ul class="navbar-nav" style="font-size: 20px; margin-bottom: 0.5%">
            <li class="nav-item" style="border: 1px rgb(253, 253, 253) solid">
                <a class="nav-link active" href="/cancelar" style="color: rgb(238, 255, 0)">Cancelar</a>
            </li>
        </ul>
    </nav>
    <div class="container mt-5">
        <div class="row"></div>
        <div class="row d-flex justify-content-center">
            <h3 th:text="${enunciado}"
                style="margin-top: 10%; text-align: center; margin-bottom: 5%; font-family: Verdana, Geneva, Tahoma, sans-serif">

                </b></h3>
        </div>
        <table class="table table-hover center" style="text-align: center">
            <tbody>
                <tr th:each="palavra: ${palavras}" style="cursor: hand;">
                    <td>
                        <a th:href="@{'/corrigir/' + ${palavra}}">
                            <p th:text="${palavra}"></p>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>