<!doctype html>
<html lang="pt-br">

<head>
    <title>Lição N° 1 | Programação</title>
    <meta name="keywords" content="Apps Login Form Responsive widget, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/licao.css">
</head>

<body onload=iniciarCronometro()>
    <div class="row fixed-top navbar">
        <div class="text-left">
            <a href="/mapa">
                <span class="teste fa fa-bed ml-4" style="font-size: 25px;"><span
                        class="teste fonte">Desistir</span></span>
            </a>
        </div>
        <div class="direita">

            <span class="teste fa fa-clock-o" style="font-size: 25px;"></span>
            <span id="relogioDoFaustao" class="teste"></span>
            <span class="teste fa fa-diamond " style="font-size: 25px;"></span>

            <span></span><span class="teste mr-4" th:text="${usuario.pontuacaoDoAluno}"></span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center mt-5">
                <h1 class="text-muted mt-5"><small th:text="${tarefa.enunciado}"></small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6 class="text-secondary d-flex justify-content-center">Escolha a alternativa correta:</h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <form method="POST" action="/licao/corrigir">
                    <div class="radiobtn mt-1" th:each="palavra:${palavras}">
                        <input type="radio" th:id="${palavra.ingles}" name="palavra" th:value="${palavra.ingles}"
                            onclick="mudarButao()" />
                        <label th:for="${palavra.ingles}" style="color: white;" th:text="${palavra.ingles}"></label>
                    </div>
                    <div class="radiobtn">
                        <input type="radio" th:id="${tarefa.resposta.ingles}" name="palavra"
                            th:value="${tarefa.resposta.ingles}" onclick="mudarButao()" />
                        <label style="color: white;" th:for="${tarefa.resposta.ingles}"
                            th:text="${tarefa.resposta.ingles}"></label>
                    </div>
                    <br>
                    <hr class="linha">
                    <div class="mt-3 text-right">
                        <button type="submit" class="btn btn-lg btn-dark mt-5" id="butao" disabled>
                            < Run />
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../js/licao.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>