<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <title>Redefinir Senha | E-nology</title>
    <meta name="keywords" content="e-nology, english, ingles, informatica" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sobre.css">
    <link href="css/index.css" rel="stylesheet">

    <style>
        input {
            width: 60%;

        }
    </style>

</head>

<body>
    <div class="container d-flex justify-content-center">
        <div class="col-sm-2"></div>

        <div class="col-sm-8 mt-5">
            <strong>
                <h3 class="text-center text-center text-muted marca">E-nology | Redefinir minha Senha</h3>

            </strong>
            <form action="/salvar-nova-senha" method="POST" onsubmit="return validaFormAlteracaoSenha(this)">

                <div class="row bg-light text-center mt-5  d-flex justify-content-center">
                    <div class="col-12 mt-5 text-center">

                        <input type="hidden" name="tk" th:value="${tk}">

                        <p for="exampleInputEmail1">Digite a nova Senha</p>
                        <input type="password" id="senha" name="senha" required class="mb-2">
                        <small id="emailHelp" class="form-text text-muted">Senha deve ter no minimo 5
                            caracteres.</small>

                        <br>

                        <p for="exampleInputEmail1">Confirme a nova Senha</p>
                        <input type="password" id="repSenha" onkeyup="liberarBotaoFormAlteracaoSenha()" required class="mb-2">

                    </div>

                    <button id="btnConfirmar" class="btn btn-lg btn-primary mb-5 mr-2" disabled type="submit">
                        Confirmar
                    </button>

                </div>
            </form>

        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="container-fluid fundo-do-poco d-flex justify-content-center">
        <div class="row p-5">
            Copyright 2020 E-nology Project
        </div>
    </div>
</body>

<script src="js/form.js"></script>
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>