<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <title>Redefinir Senha | E-nology</title>
    <meta name="keywords" content="e-nology, english, ingles, informatica" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sobre.css">
    <link href="css/index.css" rel="stylesheet">

    <style>
        input {
            width: 60%;

        }
    </style>

</head>

<body>
    <div class="container d-flex justify-content-center">
        <div class="col-sm-2"></div>

        <div class="col-sm-8 mt-5">
            <strong>
                <h3 class="text-center text-center text-muted marca">E-nology | Redefinir minha Senha</h3>

            </strong>
            <form action="/salvar-nova-senha" method="POST" onsubmit="validarRepetirSenha(), validarSenha()">

                <div class="row bg-light text-center mt-5  d-flex justify-content-center">
                    <div class="col-12 mt-5 text-center">

                        <input type="hidden" name="tk" th:value="${tk}">

                        <p for="exampleInputEmail1">Digite a nova Senha</p>
                        <input type="password" id="senha" name="senha" onkeyup="validacoes()" required class="mb-2">
                        <small id="emailHelp" class="form-text text-muted">Senha deve ter no minimo 5
                            caracteres.</small>

                        <br>

                        <p for="exampleInputEmail1">Confirme a nova Senha</p>
                        <input type="password" id="repSenha" onkeyup="validacoes()" required class="mb-2">

                    </div>

                    <button id="btnConfirmar" class="btn btn-lg btn-primary mb-5 mr-2" disabled type="submit">
                        Confirmar
                    </button>

                </div>
            </form>

        </div>
        <div class="col-sm-2"></div>


    </div>

    <div class="container-fluid fundo-do-poco d-flex justify-content-center">
        <div class="row p-5">
            Copyright 2020 E-nology Project
        </div>
    </div>
</body>

<script>

    function validacoes() {
        if(validarSenha() == true && validarRepetirSenha() == true) {
            document.getElementById("btnConfirmar").disabled = false
        }
    }

    function validarSenha() {
        var senha = document.getElementById("senha").value;

        if (verificarSePossuiCincoCaracteres(senha)) {
            return false
        } else {
            return true
        }
    }

    function validarRepetirSenha() {
        var senha = document.getElementById("senha").value;
        var repSenha = document.getElementById("repSenha").value;

        if (senha != repSenha) {
            return false
        } else {
            return true
        }
    }

    function verificarSePossuiCincoCaracteres(texto) {
        return texto.trim().length < 5;
    }

</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>