<!DOCTYPE html>
<html lang="pt-Br">

<head>
	<title>Criar Conta | E-nology</title>
	<meta name="keywords" content="e-nology, english, ingles, informatica" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="fonts/font-exo.css" rel="stylesheet">
	<style>
		.navbar a {
			color: #FFF;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-white fixed-top d-flex justify-content-center border-bottom">
		<a class="navbar-brand" href="/">
			<h2 class="text-dark" style="font-family: 'Exo 2';">E-nology</h2>
		</a>
	</nav>
	<div class="agile-login">
		<div class="wrapper shadow-lg p-3 mb-5 bg-white rounded mt-5">
			<div class="container mb-1">
				<div class="row">
					<div class="col">
						<span class="d-flex justify-content-center"
							style="font-size: 30pt;  color: #00475b;"><strong>Register</strong></span>
					</div>
				</div>
			</div>
			<div class="w3ls-form">
				<form action="/salvarUsuario" method="post" onsubmit="return verificarCampos()">
					<div id="erroAlert" role="alert" style="font-size: 15px;">
						<p class="erroCor" id="erroNome"></p>
						<p class="erroCor" id="erroSobrenome"></p>
						<p class="erroCor" id="erroEmail"></p>
						<p class="erroCor" id="erroEmailRep" th:text="${mensagem}"></p>
						<p class="erroCor" id="erroSenha"></p>
						<p class="erroCor" id="erroRepSenha"></p>
					</div>
					<label for="nome">Nome
						<input type="text" id="nome" class="form-control" name="nome" />
					</label>
					<label for="sobrenome">Sobrenome
						<input type="text" id="sobrenome" class="form-control" name="sobrenome" />
					</label>
					<label for="email">Email
						<input type="email" id="email" class="form-control" name="email" />
					</label>
					<p class="pzinho ml-2">Será necessário confirmar o e-mail.</p>
					<label for="senha">Senha
						<input type="password" id="senha" class="form-control" name="senha" />
					</label>
					<label for="repSenha">Confirme a Senha
						<input type="password" id="repSenha" class="form-control" name="repsenha" />
					</label>
					<button class="btn btn-lg  mt-4" style="width: 100%; background-color: #036977; color: white;"
						type="submit" onmouseover="this.style.backgroundColor='#0f8191'"
						onmouseout="this.style.backgroundColor='#036977'" id="btnEnviar"
						onclick="validarNome(), validarSobrenome(),validarEmail(), validarSenha(), validarRepetirSenha(), classColor()">
						Enviar</button>

					<a href="/login" class="pass text-center">Já possui uma conta?</a>
				</form>
			</div>
			<div class="container">
				<div class="row mt-5 justify-content-center">
					<div class="col-11 d-flex justify-content-center">

						<p class="text-muted" style="font-size: 6pt;">Ao se cadastrar, você concorda em passar <a
								style="color: #0f8191;"> todo
								seu auxílio</a>, sem exceção, para a conta dos
							desenvolvedores aqui. E automaticamente estará nos seguindo no <a
								style="color: #0f8191;">instagram</a> (
							<a href="https://www.instagram.com/andersoonmgs/" target="blanck">
								<span style="font-size: 8px;" class="fa fa-instagram" title="Insta Anderson"></span>
							</a> e
							<a href=" https://www.instagram.com/j4ckwho/" target="blanck">
								<span style="font-size: 8px;" class="fa fa-instagram" title="Insta Jackson"></span>
							</a>
							). Disponha!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="js/form.js"></script>
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>