<!DOCTYPE html>
<html lang="pt-Br">

<head>
	<title>Criar Conta | E-nology</title>
	<meta name="keywords" content="Apps Login Form Responsive widget, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="agile-login">
		<a href="/">
			<h1>E-NOLOGY</h1>
		</a>
		<div class="wrapper">
			<h2>Cadastro</h2>
			<div class="w3ls-form">
				<form action="/salvar" method="post" onsubmit="return verificarCampos()">
					<div id="erroAlert" role="alert" style="font-size: 15px;">
						<p class="erroCor" id="erroNome"></p>
						<p class="erroCor" id="erroSobrenome"></p>
						<p class="erroCor" id="erroEmail"></p>
						<p class="erroCor" id="erroSenha"></p>
						<p class="erroCor" id="erroRepSenha"></p>
					</div>
					<label for="nome">Nome
						<input type="text" onkeyup="validarNome(), classColor()" id="nome" class="form-control"
							name="nome" />
					</label>
					<label for="sobrenome">Sobrenome
						<input type="text" id="sobrenome" onkeyup="validarSobrenome(), classColor()"
							class="form-control" name="sobrenome" />
					</label>
					<label for="email">Email
						<input type="email" id="email" onkeyup="validarEmail(), classColor()" class="form-control"
							name="email" />
					</label>
					<label for="senha">Senha
						<input type="password" id="senha" onkeyup="validarSenha(), classColor()" class="form-control" name="senha" />
					</label>
					<label for="repSenha">Confirme a Senha
						<input type="password" id="repSenha" onkeyup="validarRepetirSenha(), classColor()" class="form-control" name="repsenha" />	
					</label>
					<button type="submit" class="btn submit">Enviar</button>
				</form>
			</div>
		</div>
		<br>
	</div>
</body>
<script src="js/cadastro.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

</html>