<!DOCTYPE html>
<html lang="pt-Br">

<head>
	<title>Entrar | E-nology</title>
	<meta name="keywords" content="e-nology, english, ingles, informatica" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="fonts/font-exo.css" rel="stylesheet">
	<style>
		.navbar a {
			color: #FFF;
		}

		.btn {
			margin-left: 0;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-white fixed-top d-flex justify-content-center border-bottom">
		<a class="navbar-brand" href="/"><h2 class="text-dark" style="font-family: 'Exo 2';">E-nology</h2></a>
	</nav>
	<div class="agile-login">
		<div class="wrapper mt-5 shadow-lg p-3 mb-5 bg-white rounded mt-5">
			<div class="container mb-1">
				<div class="row">
					<div class="col">
						<span class="fa fa-user-secret" style="font-size: 80pt; color: #00475b;"><span
								class="d-flex justify-content-center" style="font-size: 20pt;"><strong>Sign
									In</strong></span></span>
					</div>
				</div>
			</div>

			<div class="w3ls-form">
				<form name="f" th:action="@{/login}" method="post">

					<div class="alert alert-success fade show text-center" th:if="${mensagem != null}" id="mensagem"
						role="alert">
						<span th:text="${mensagem}"></span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div th:if="${param.error}" class="alert alert-danger text-center"
						th:with="errorMsg=${session.SPRING_SECURITY_LAST_EXCEPTION.message}" th:switch="${errorMsg}">

						<small th:case="'User account is locked'">
							Confirme seu email para continuar.
							<a class="d-inline" href="/verificacao-email">Clique aqui</a>
						</small>
						<span th:case="'Bad credentials'">Email ou Senha incorreto!</span>
						<span th:case="*" th:text="${errorMsg}"></span>

					</div>

					<label>Email</label>
					<input type="email" class="form-control" name="email" id="email" required/>
					<label>Senha</label>
					<input type="password" class="form-control" name="senha" id="senha" required/>
					<button class="btn btn-lg  mt-4 d-flex justify-content-center"
						style="width: 100%; background-color: #036977; color: white;" type="submit"
						onmouseover="this.style.backgroundColor='#0f8191'"
						onmouseout="this.style.backgroundColor='#036977'">
						Login</button>
				</form>
			</div>
			<div class="container">
				<div class="row">
					<div class="col">
						<hr class="mt-3 mb-3">
						<small>Ainda não possui conta no <strong>E-nology</strong>?
							<a href="/cadastro">Criar
								Conta</a></small>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<a href class="pass" data-toggle="modal" data-target="#informarEmailModal">Esqueceu a Senha?</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal de resultado ao tentar enviar e-mail para troca de senha -->

		<div class="modal show fade" id="sucessoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true" th:if="${teveSucesso} != null">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body text-center">
						<div class="row d-flex justify-content-center ">
							<i class="" aria-hidden="true" style="font-size: 6rem;" th:classappend="${teveSucesso} ? 'fa fa-check-circle text-success'
																												   : 'fa fa-window-close text-danger'"></i>
						</div>
						<small class="text-black" id="resultado" th:text="${resultado}"></small>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

					</div>
				</div>
			</div>
		</div>

		<!-- Modal com campo para digitar senha -->

		<div class="modal fade" id="informarEmailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-muted" id="exampleModalLabel">Esqueceu sua senha?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form method="POST" action="/envio-email-redefinir-senha" onsubmit="alterarBtnModalEsqueciSenha()">
							<div>

								<div class="row d-flex justify-content-center">

									<strong>
										<small>
											<p class="pzinho text-center p-4">
												Digite seu endereço de e-mail cadastrado no <b>E-nology</b> para
												enviarmos instruçoes de como
												redefinir a sua senha.
											</p>
										</small>
									</strong>
								</div>

								<div class="row d-flex justify-content-center">

									<div class="form-group">
										<label for="email">Digite seu email aqui</label>
										<input type="email" required name="email" id="Email" class="form-control">
									</div>
								</div>
								<div class="row d-flex justify-content-center">
									<button id="myBtn" type="submit" style="vertical-align: middle;"
										class="btn btn-primary">Confirmar
										<div id="spi" class="" role="status">
										</div>
									</button>
								</div>

							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

<script src="js/form.js"></script>
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
	if (document.getElementById("resultado").textContent != "" &&
		document.getElementById("resultado").textContent != null) {
		$('#sucessoModal').modal('show')
	}
</script>

</html>