<!DOCTYPE html>
<html lang="pt-Br" class="no-js">

<head>
	<meta name="keywords" content="Apps Login Form Responsive widget, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Minha Conta | Enology</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
	<style>
		.fonte {
			font-family: 'Nunito', sans-serif;
		}

		.sidenav {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: #2f353a;
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
		}

		.sidenav a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 15px;
			color: #ffffff;
			display: block;
			transition: 0.3s;

		}

		.sidenav a:hover {
			background-color: rgb(3, 84, 151);
		}

		.sidenav .closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 50px;
		}

		@media screen and (max-height: 450px) {
			.sidenav {
				padding-top: 15px;
			}

			.sidenav a {
				font-size: 18px;
			}
		}
	</style>
</head>

<body>
	<div style="background-color: #2f353a; height: 50px;" class="row align-items-center fixed-top">
		<span style="font-size:30px;cursor:pointer; margin-left: 5%; color: white;" onclick="changeNav()">&#9776; </span>
	</div>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
			style="background-color:transparent !important">&times;</a>
		<div class="ra" style="border-bottom: 1px solid #3a3f48;">
			<div class="d-flex justify-content-center">
				<img src="images/pig.png" alt="" width="55" class="img-fluid d-flex justify-content-center">
			</div>
			<span th:text="${usuario.nome} + ' ' + ${usuario.sobrenome}"
				style="color: #ffffff; background-color: none;font-size: 15px;"
				class="mt-1 d-flex justify-content-center"></span>
			<span class="d-flex justify-content-center mt-2 fonte" style="color: #f700ff;">ADMIN</span>
			<br>
			<a href="/mapa"><span class="fa fa-home"><span class="ml-2 fonte">Home</span></span></a>
			<a href="/perfil"><span class="fa fa-user-circle"><span class="ml-2 fonte">Perfil</span> </span></a>
			<a href="#"><span class="fa fa-gear"><span class="ml-2 fonte">Configurações</span></span></a>
			<br>

		</div>
		<br>
		<a href="/sobre"> <span class="fa fa-wheelchair-alt"><span class="ml-2 fonte">Sobre</span></span></a>
		<a href="/logout"><span class="fa fa-sign-out"><span class="ml-2 fonte">Sair</span></span></a>
	</div>

	<div class="main-wrapper">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<img class="user" src="images/pig.png">
					<a name="veim"></a>
				</div>
			</div>
			<div class="row d-flex justify-content-center mb-1">
				<h4 class="hello ">Scanor</h4>
			</div>
			<div class="row">

				<div class="col-lg-12">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link " id="nav-home-tab" data-toggle="tab" href="#nav-home"
								role="tab" aria-controls="nav-home" aria-selected="true"
								style="font-size: 20px;">Progresso</a>
							<a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab"
								href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"
								style="font-size: 20px;">Perfil</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="row">
								<div class="col-lg-7">
									<div class="form-inline">
										<img style="margin: 10% 2% 0% 4%" src="images/motherboard.png" width="25%">
										<p class="mt-5 ml-5"><b>Mother-Board</b>
											<br>
											Seus Componentes
											<br>
										</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-inline">
									<img style="margin: 8% 2% 0% 4%" src="images/cpu.png" width="25%">
									<p class="mt-5 ml-5"><b>CPU</b>
										<br>
										Partes Principais
										<br>
										1/2
									</p>
								</div>
							</div>
							<div class="row">
								<div class="form-inline">
									<img style="margin: 8% 0% 0% 0%" src="images/usb.png" width="35%">
									<p class="mt-5"><b>Pen Drive</b>
										<br>
										O que é?
										<br>
										1/2
									</p>
								</div>
							</div>
							<div class="row">
								<div class="form-inline">
									<img style="margin: 8% 2% 0% 4%" src="images/memory_ram.png" width="40%">
									<p class="mt-5 ml-5"><b>Memory Ram</b>
										<br>
										Sua Função
										<br>
										1/2
									</p>
								</div>
							</div>

							<div class="row">
								<div class="form-inline">
									<img style="margin: 8% 2% 0% 4%" src="images/hd.png" width="40%">
									<p class="mt-5 ml-5"><b>HD</b>
										<br>
										Hard Disk
										<br>
										1/2
									</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade show active mb-3 " id="nav-profile" role="tabpanel"
							aria-labelledby="nav-profile-tab">

							<h5 style="color: rgb(48, 119, 119); font-size: 25px; margin: 2%" class="ml-3 mt-4">
								Configurações</h5>

							<li class="list-group-item mb-2">Permitir Notificações
								<div class="material-switch pull-right">
									<input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox" />
									<label for="someSwitchOptionPrimary" class="label-primary"></label>
							<li class="list-group-item"><i>Recado</i><textarea class="form-control"
									id="exampleFormControlTextarea1" rows="2" style="width: 60%"></textarea></li>

							<h5 style="color: rgb(48, 119, 119); font-size: 25px;" class="ml-3 mt-3">Detalhes de Perfil
							</h5>
							<ul class="list-group mt-3">

								<li class="list-group-item"><b>Nome:</b> <a
										th:text="${usuario.nome} + ' ' + ${usuario.sobrenome}"></a></li>
								<li class="list-group-item"><b>E-mail:</b> <a th:text="${usuario.email}"></a></li>
								<li class="list-group-item"><b>País</b> BRASIL</li>
								<a href="/editarPerfil" id="/editarPerfil#nav-profile" style="width: 100%;"><button
										type="submit" class="btn submit mb-4">Editar
										Perfil</button></a>
							</ul>

						</div>
						</li>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		location.href = "#veim";
	</script>
	<script>
		function changeNav() {

			if (document.getElementById("mySidenav").style.width == "250px") {
				document.getElementById("mySidenav").style.width = "0";
			}
			else {
				document.getElementById("mySidenav").style.width = "250px";
			}
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>