<!DOCTYPE html>
<html lang="pt-Br" class="no-js">

<head>
	<meta name="keywords" content="Apps, Ingles, English, Informatica" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<title>Minha Conta | Enology</title>
	<link href="fonts/font-exo.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="fonts/font-nunito.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Enriqueta|Kreon&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/perfil.css">
	<link sec:authorize="hasRole('ROLE_ADMIN')" rel="stylesheet" href="css/adminpages.css">

</head>

<body oncopy="return false" oncut="return false" onpaste="return false">

	<th:block th:include="navbar"></th:block>

	<div th:each="role:${usuario.roles}" th:if="${role.nome} == ROLE_ADMIN" class="row fixed-top navbar">
		<th:block th:include="navbar-admin"></th:block>
	</div>

	<div class="main-wrapper" onclick="esconderSidebar()">
		<div class="container">
			<div class="row mt-5">
				<div class="col-12 mt-5 d-flex justify-content-center">
					<form action="/upload" method="POST" enctype="multipart/form-data">
						<div class="upload-imagem">
							<label for="file-input" class="d-flex justify-content-center">
								<img th:if="${usuario.imagem}" th:src="@{'/localCloud/' + ${usuario.imagem.link}}"
									alt="Minha Foto" width="250" class="img-fluid"
									title="Clique para alterar imagem">
								<span th:unless="${usuario.imagem}" class="imagemUser fa fa-user-circle"
									style="cursor: pointer; color: #011f4177;"
									title="Clique para alterar imagem"></span>
							</label>
							<input id="file-input" type="file" name="imagem" onchange="form.submit()" />
						</div>
					</form>
				</div>
			</div>
			<div class="row d-flex justify-content-center mb-1">
				<b>
					<h1 th:text="${usuario.nome} + ' ' + ${usuario.sobrenome}"
						class=" d-flex justify-content-center marca"
						style="color: #036977; font-family: 'Kreon', serif;">
					</h1>
				</b>
			</div>
			<div class="row">

				<div class="col-lg-12">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab"
								href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"
								style="font-size: 20px;">Perfil</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent" style="display: block;">
						<div class="tab-pane fade show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

						</div>
						<div class="tab-pane fade show active mb-3 " id="nav-profile" role="tabpanel"
							aria-labelledby="nav-profile-tab">

							<h5 style="color: #036977; font-size: 25px;" class="ml-3 mt-3">Detalhes de Perfil
							</h5>

							<ul class="list-group mt-3" style="display: block;" id="nav1">

								<li class="list-group-item"><b>Nome:</b> <a
										th:text="${usuario.nome} + ' ' + ${usuario.sobrenome}"></a></li>
								<li class="list-group-item"><b>E-mail:</b> <a th:text="${usuario.email}"></a></li>
								<li class="list-group-item"><b>País</b> BRASIL</li>
								<div class="d-flex justify-content-center">
									<button class="btn btn-lg mb-3 mt-4 d-flex justify-content-center" onclick="mudarNav()"
										style="width: 50%; background-color: #036977; color: white;" type="submit"
										onmouseover="this.style.backgroundColor='#0f8191'"
										onmouseout="this.style.backgroundColor='#036977'">Editar
										Perfil</button>
								</div>
							</ul>

							<ul class="list-group mt-3" id="nav2" style="display: none;">
								<form action="/atualizar" method="post" th:object="${usuario}"
									enctype="multipart/form-data" onsubmit="return verificarCamposPerfil()">
									<input type="hidden" name="id" th:value="${usuario.id}" />
									<input type="hidden" name="id" th:value="${usuario.id}" />

									<li class="list-group-item form-inline"><b>Nome:</b>
										<input type="text" class="form-control" name="nome" th:field="*{nome}"
											onkeyup="validarNome()" th:value="${nome}" />
										<small class="erroCor" id="erroNome"></small>
									</li>
									<li class="list-group-item form-inline"><b>Sobrenome:</b>
										<input type="text" class="form-control" name="sobrenome" th:field="*{sobrenome}"
											onkeyup="validarSobrenome()" th:value="${sobrenome}" />
										<small class="erroCor" id="erroSobrenome"></small>
									</li>
									<li class="list-group-item ">
										<div class="row">
											<b>Outros</b>
										</div>
										<div class="row">
											<button type="button" class="btn btn-info text-white"
												data-target="#alt-email" data-toggle="modal"><span
													class="fa fa-plus"></span> Alterar
												Email</button>
											<button type="button" class="btn btn-info text-white"
												data-target="#alt-senha" data-toggle="modal"><span
													class="fa fa-plus"></span> Alterar Senha</button>
										</div>
									</li>
									<div class="d-flex justify-content-center">
										<button class="btn btn-lg  mt-4"
											style="width: 50%; background-color: #036977; color: white;" type="submit"
											onmouseover="this.style.backgroundColor='#0f8191'"
											onmouseout="this.style.backgroundColor='#036977'">Salvar Alterações</button>
									</div>
								</form>
							</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="modal fade" id="alt-email" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<form method="POST" action="/envio-email-redefinir-email">
					<div class="modal-content">
						<div class="modal-header d-flex justify-content-center">
							<h5 class="modal-title" id="exampleModalLongTitle">Alteração de Email</h5>
						</div>
						<div class="modal-body">
							<li class="list-group-item form-inline"><label for="email"><b>Novo E-mail: </b></label>
								<input type="email" class="form-control w-100" name="email" />
								<small id="erroEmail" class="erroCor"></small>
								<p class="pzinho">Caso mude o seu endereço de e-mail lhe enviaremos um e-mail de
									confirmação para o seu novo endereço!
								</p>
							</li>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Confirmar</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</div>
					</form>
				</div>
			</div>

			<!-- Modal com campo para digitar senha -->

			<div class="modal fade" id="alt-senha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header d-flex justify-content-center">
							<h5 class="modal-title" id="exampleModalLongTitle">Alteração de Senha</h5>
						</div>
						<div class="modal-body">
							<form method="POST" action="/envio-email-redefinir-senha"
								onsubmit="alterarBtnModalEsqueciSenha()">
								<div>
									<div class="row d-flex justify-content-center">

										<strong>
											<small>
												<p class="pzinho text-center p-4">
													Você está quase lá. Clique no botão "prosseguir" para
													receber um email de redefinição de senha.
												</p>
											</small>
										</strong>
									</div>

									<div class="row d-flex justify-content-center">
										<input type="hidden" th:value="${usuario.email}" name="email" id="Email"
											class="form-control">
									</div>
								</div>
								<div class="modal-footer">
									<button id="myBtn" type="submit" style="vertical-align: middle;"
										class="btn btn-primary">Prosseguir
										<div id="spi" class="" role="status">
										</div>
									</button>
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Cancelar</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
			<div class="text-center" th:if="${resultado} != null" id="toast"
				style="position: fixed; right: 0; bottom: 0; margin-bottom: 2%; margin-right: 2%; font-size: 0.8rem;">
				<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="toast-header">
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<strong>
								<span id="resultado" th:text="${resultado}" class="text-black"></span>
							</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div th:each="role:${usuario.roles}" th:if="${role.nome} != ROLE_ADMIN" class="container-fluid espaco-rodape fundo-do-poco d-flex justify-content-center">
        <div class="row"></div>
        <p id="mensagem"></p>
    </div>
	<script src="js/perfil.js"></script>
	<script src="js/form.js"></script>
	<script src="js/adminpages.js"></script>
	<script src="js/index.js"></script>
	<script src="js/jquery-3.3.1.slim.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script>
		if (document.getElementById("resultado").textContent != "" &&
			document.getElementById("resultado").textContent != null) {

			setTimeout(() => {
				$('.toast .alert').alert('close')
			}, 5000);
		}
	</script>
</body>

</html>