<!DOCTYPE html>
<html lang="pt-Br" class="no-js">

<head>
	<meta name="keywords" content="Apps Login Form Responsive widget, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Minha Conta | Enology</title>
	<link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Enriqueta|Kreon&display=swap"
		rel="stylesheet">
	<link href="css/sidebar.css" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/perfil.css">
	<link sec:authorize="hasRole('ROLE_ADMIN')" rel="stylesheet" href="css/adminpages.css">

</head>

<body oncopy="return false" oncut="return false" onpaste="return false">


	<div class="row fixed-top navbar" th:if="${usuario.roles}">
		<span class="botao fa fa-bars" onclick="alterarSidebar()">
		</span>
		<a class="navbar-brand marca" style="font-size: 18pt;color: white;" href="/"><span>E-nology</span></a>
		<div class="direita align-middle">
			<span class="teste fa fa-database mr-1" style="font-size: 25px; color: #e7f84e;" data-toggle="tooltip"
				data-placement="bottom" title="Sua pontuação até aqui">
			</span>
			<span></span><span class="teste mr-4" th:text="${usuario.pontuacaoDoAluno}" data-toggle="tooltip"
				data-placement="bottom" title="Sua pontuação até aqui"></span>
		</div>
	</div>
	<div id="sidebar" class="sidenav" th:if="${usuario.roles}">
		<div>
			<div class="d-flex justify-content-center gradient">
				<img id="img_perfil" th:if="${usuario.caminhoImagem}" th:src="@{${usuario.caminhoImagem}}"
					alt="Minha Foto" class=" d-flex justify-content-center" style="border-radius: 20px;">
				<span th:unless="${usuario.caminhoImagem}" class="imagemUser fa fa-user-circle"
					style="font-size: 50pt; color: #011f41;"></span>
			</div>
			<strong>
				<span th:text="${usuario.nome} + ' ' + ${usuario.sobrenome}" style="font-size: 13pt; color: #74ABDD;"
					class="mt-2 d-flex justify-content-center fonte"></span></strong>
			<span class="fa fa-address-card d-flex justify-content-center text-light">
				<strong><span class="fonte ml-2">Aluno</span></strong></span>
			<br>
		</div>
		<span></span>
		<a name="link" href="/mapa"><span class="fa fa-home"><span class="ml-2 fonte">Home</span></span></a>

		<a name="link" href="/perfil#"><span class="fa fa-user-circle"><span class="ml-2 fonte">Meu Perfil</span>
			</span></a>
		<br>
		<div class="ra" sec:authorize="hasRole('ROLE_ADMIN')">
			<a name="link" href="/tarefa"><span class="fa fa-file-code-o"><span class="ml-2 fonte">Criar Tarefa</span>
				</span></a>
			<br>
		</div>
		<h5 class="ml-3 font-weight-normal text-light"><strong>Sobre</strong></h5>

		<a name="link" href="##"> <span class="fa fa-heart"><span class="ml-2 fonte">Siga-nos</span></span></a>
		<a name="link" href="/sobre"> <span class="fa fa-info-circle"><span class="ml-2 fonte">Sobre o
					App</span></span></a>
		<br>
		<a href="/logout"><span class="fa fa-sign-out"><span class="ml-2 fonte">Sair</span></span></a>
	</div>
	
	<div th:each="role:${usuario.roles}" th:if="${role.nome} == ROLE_ADMIN" class="row fixed-top navbar">
		<span class="botao fa fa-bars" onclick="alterarSidebarr()"></span>
		<a class="navbar-brand marca-admin ml-4" style="font-size: 18pt;color: white;"><span>Admin Home</span></a>
		<div class="direita align-middle">
		</div>
	</div>
	<div th:each="role:${usuario.roles}" th:if="${role.nome} == ROLE_ADMIN" id="sidenav" class="sidenav">
		<div>
			<div class="d-flex justify-content-center"
				style="height: 100%; background: repeating-linear-gradient(#0d101b, #0d101b 49.9%, #0d101b 50.1%, #0d101b 100%);">
				<img id="img_perfil" th:if="${usuario.caminhoImagem}" th:src="@{${usuario.caminhoImagem}}"
					alt="Minha Foto" width="75" class="img-fluid d-flex justify-content-center"
					style="border-radius: 20px;">
				<span th:unless="${usuario.caminhoImagem}" class="imagemUser fa fa-user-circle"
					style="font-size: 50pt; color: #011f41;"></span>
			</div>
			<strong>
				<span th:text="${usuario.nome} + ' ' + ${usuario.sobrenome}" style="font-size: 13pt; color: #74ABDD;"
					class="mt-2 d-flex justify-content-center fonte"></span></strong>
			<span class="fa fa-address-card d-flex justify-content-center text-light">
				<strong><span class="fonte ml-2">Professor</span></strong></span>
			<br>
		</div>
		<span></span>
		<a name="link" href="/adminPage"><span class="fa fa-home"><span class="ml-2 fonte">Home</span></span></a>

		<a name="link" href="/perfil#"><span class="fa fa-user-circle"><span class="ml-2 fonte">Meu Perfil</span>
			</span></a>
		<br>

		<h5 class="ml-3 font-weight-normal text-light"><strong>Sistema</strong></h5>
		<a name="link" href="/tarefa"><span class="fa fa-file-code-o"><span class="ml-2 fonte">Criar Tarefa</span>
			</span></a>
		<br>
		<h5 class="ml-3 font-weight-normal text-light"><strong>Alunos</strong></h5>

		<a name="link" href="/alunos"> <span class="fa fa-users"><span class="ml-2 fonte">Lista</span></span></a>
		<a name="link" href="##"> <span class="fa fa-low-vision"><span class="ml-2 fonte">Monitorar
					Turmas</span></span></a>
		<br>
		<a href="/logout"><span class="fa fa-sign-out"><span class="ml-2 fonte">Sair</span></span></a>
	</div>



	<div class="main-wrapper" onclick="esconderSidebar()">
		<div class="container">
			<div class="row mt-5">
				<div class="col-12 mt-5 d-flex justify-content-center">
					<form action="/upload" method="POST" enctype="multipart/form-data">
						<div class="upload-imagem">
							<label for="file-input" class="d-flex justify-content-center">
								<img th:if="${usuario.caminhoImagem}" th:src="@{${usuario.caminhoImagem}}"
									alt="Minha Foto" width="120" class="img-fluid" style="border-radius: 40px;"
									title="Clique para alterar imagem">
								<span th:unless="${usuario.caminhoImagem}" class="imagemUser fa fa-user-circle"
									style="cursor: pointer; color: #011f4177;"
									title="Clique para alterar imagem"></span>
							</label>
							<input id="file-input" type="file" name="imagem" onchange="form.submit()" />
						</div>
					</form>
				</div>
			</div>
			<div class="row d-flex justify-content-center mb-1">
				<b>
					<h1 th:text="${usuario.nome} + ' ' + ${usuario.sobrenome}"
						class=" d-flex justify-content-center marca"
						style="color: #036977; font-family: 'Kreon', serif;">
					</h1>
				</b>
			</div>
			<div class="row">

				<div class="col-lg-12">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link " id="nav-home-tab" data-toggle="tab" href="#nav-home"
								role="tab" aria-controls="nav-home" aria-selected="true"
								style="font-size: 20px;">Loading ...</a>
							<a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab"
								href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"
								style="font-size: 20px;">Perfil</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent" style="display: block;">
						<div class="tab-pane fade show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

						</div>
						<div class="tab-pane fade show active mb-3 " id="nav-profile" role="tabpanel"
							aria-labelledby="nav-profile-tab">

							<h5 style="color: #036977; font-size: 25px;" class="ml-3 mt-3">Detalhes de Perfil
							</h5>

							<ul class="list-group mt-3" style="display: block;" id="nav1">

								<li class="list-group-item"><b>Nome:</b> <a
										th:text="${usuario.nome} + ' ' + ${usuario.sobrenome}"></a></li>
								<li class="list-group-item"><b>E-mail:</b> <a th:text="${usuario.email}"></a></li>
								<li class="list-group-item"><b>País</b> BRASIL</li>
								<div class="d-flex justify-content-center">
									<button class="btn btn-lg  mt-4 d-flex justify-content-center" onclick="mudarNav()"
										style="width: 50%; background-color: #036977; color: white;" type="submit"
										onmouseover="this.style.backgroundColor='#0f8191'"
										onmouseout="this.style.backgroundColor='#036977'">Editar
										Perfil</button>
								</div>
							</ul>

							<ul class="list-group mt-3" id="nav2" style="display: none;">
								<form action="/atualizar" method="post" th:object="${usuario}"
									enctype="multipart/form-data" onsubmit="return verificarCamposPerfil()">
									<input type="hidden" name="id" th:value="${usuario.id}" />

									<li class="list-group-item form-inline"><b>Nome:</b>
										<input type="text" class="form-control" name="nome" th:field="*{nome}"
											onkeyup="validarNome()" th:value="${nome}" />
										<small class="erroCor" id="erroNome"></small>
									</li>
									<li class="list-group-item form-inline"><b>Sobrenome:</b>
										<input type="text" class="form-control" name="sobrenome" th:field="*{sobrenome}"
											onkeyup="validarSobrenome()" th:value="${sobrenome}" />
										<small class="erroCor" id="erroSobrenome"></small>
									</li>
									<li class="list-group-item form-inline"><b>E-mail: </b>
										<input type="email" class="form-control" name="email" th:field="*{email}"
											onkeyup="validarEmail()" th:value="${email}" />
										<small id="erroEmail" class="erroCor"></small>
										<p class="pzinho">Caso mude o seu endereço de e-mail lhe enviaremos um e-mail de
											confirmação!
										</p>

									<li class="list-group-item form-inline"><b>Senha Atual:</b>
										<input type="password" class="form-control" id="senhaAtual" name="senha" />
										<small th:text="${mensagem}" class="erroCor" id="erroSenhaAtual"></small>
									</li>

									<p th:text="${message}" style="color: red;"></p>
									<li class="list-group-item form-inline"><b>Nova Senha:</b>
										<input type="password" class="form-control" name="novaSenha" id="novaSenha" />
										<small class="erroCor" id="erroNovaSenha"></small>
									</li>
									<div class="d-flex justify-content-center">
										<button class="btn btn-lg  mt-4" onclick="validarNovaSenha()"
											style="width: 50%; background-color: #036977; color: white;" type="submit"
											onmouseover="this.style.backgroundColor='#0f8191'"
											onmouseout="this.style.backgroundColor='#036977'">Atualizar</button>
									</div>
								</form>
							</ul>

							<h5 style="color: #036977; font-size: 25px; margin: 2%" class="ml-3 mt-4">
								Configurações</h5>

							<li class="list-group-item mb-2">Permitir Notificações
								<div class="material-switch pull-right">
									<input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox" />
									<label for="someSwitchOptionPrimary" class="label-primary"></label>
							<li class="list-group-item"><i>Recado</i><textarea class="form-control"
									id="exampleFormControlTextarea1" rows="2" style="width: 60%"></textarea></li>
						</div>
						</li>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script src="js/perfil.js"></script>
	<script src="js/sidebar.js"></script>
	<script src="js/cadastro.js"></script>
	<script src="js/adminpages.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>