<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link href="/fonts/font-nunito;css" rel="stylesheet">
    <link href="/fonts/font/exo.css" rel="stylesheet">

    <title>Cadastro de Tarefas || ADMIN </title>

    <style>
        .table {
            font-size: 0.8rem !important;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 80%;
        }
    </style>
</head>

<body>
    <th:block th:include="navbar-admin"></th:block>

    <div class="container mt-5 ">
        <div class="row mt-5 ">
            <div class="col-md-12 col-sm-12 d-flex justify-content-center mt-5">
                <h3 class="muted">
                    <strong>Gerenciar Conteúdos</strong> <i class="fa fa-cog" aria-hidden="true"></i>
                </h3>
                <br>
            </div>

        </div>

        <div class="row justify-content-center mb-4">

            <span>Cadastre e edite palavras, frases, tarefas de conteudos.</span>

        </div>


        <div class="row mt-2 ">
            <div class="col-sm-12 d-flex justify-content-center">
                <form action="/admin/sistema/criar-tarefa" method="POST">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Gerenciar:</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="idConteudo">
                            <option selected disabled value="#">Escolha...</option>
                            <option th:each="con : ${conteudos}" th:value="${con.id}" th:text="${con.titulo}"
                                th:selected="${con.titulo == conteudo.titulo}"></option>
                        </select>
                        <button class="btn btn-success btn-md ml-4" style="background-color: #036977;color: #FFF;"
                            type="submit">Gerenciar</button>
                       
                    </div>
                </form>
            </div>
        </div>




        <div class="row d-flex " th:if="${conteudo.titulo}">
            <hr class="mt-2">
            <div class="col-md-12 col-sm-10 text-center">
                <h1 class="text-dark" style="font-weight: 300;" th:text="${conteudo.titulo}">
                </h1>
                <small class="text-muted" style="max-width: 70%;" th:text="${conteudo.descricao}">
                </small>
            </div>
        </div>


        <div class="row mt-2 " th:if="${conteudo.titulo}">
            <div class="col-sm-12 d-flex justify-content-center">
                <button id="palavraBtn" class="btn btn-md btn-primary mr-3" type="button" value="palavra"
                    onclick="exibirPalavra()">Palavras</button>
                <button id="tarefaBtn" class="btn btn-md btn-success" type="button" value="tarefa"
                    onclick="exibirTarefa()">Tarefas</button>
            </div>
        </div>

        <div id="palavra" style="display: none;">
            <div class="row justify-content-end" style="width: 90%;">

                <button type="button" data-toggle="modal" data-target="#formPalavra" class="btn btn-md"
                    style="background-color: #036977;color: #FFF;">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Novo</button>

            </div>

            <div class="row mt-3 justify-content-center">
                <table class="table " aria-rowcount="5">
                    <thead>
                        <tr>
                            <th scope="col">Português</th>
                            <th scope="col">Inglês</th>
                            <th scope="col">Definição</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="palavra : ${palavras}">
                            <td th:text="${palavra.portugues}"></td>
                            <td th:text="${palavra.ingles}"></td>
                            <td th:text="${palavra.definicao}"></td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-light btn-sm dropdown-toggle" href="#" role="button"
                                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Ação
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#"> <i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i>
                                            Editar</a>
                                        <a class="dropdown-item" href="#"> <i class="fa fa-times-circle"
                                                aria-hidden="true"></i>
                                            Deletar </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="${palavras.empty}">
                            <td>
                                <span>Sem palavras pra esse conteudo!</span>
                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>

        </div>
        <div id="tarefa" style="display: none;">
            <div class="row justify-content-end" style="width: 90%;">

                <button type="button" data-toggle="modal" data-target="#formTarefa" class="btn btn-md"
                    style="background-color: #036977;color: #FFF;">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Novo</button>

            </div>

            <div class="row justify-content-center">
                <table class="table " aria-rowcount="5">
                    <thead>
                        <tr>
                            <th scope="col">Enunciado</th>
                            <th scope="col">Nível</th>
                            <th scope="col">Tipo Tarefa</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tarefa : ${tarefas}">
                            <td th:text="${tarefa.enunciado}"></td>
                            <td th:text="${tarefa.nivel}"></td>
                            <td th:text="${tarefa.tipoTarefa}"></td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-light btn-sm dropdown-toggle" href="#" role="button"
                                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Ação
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#"> <i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i>
                                            Editar</a>
                                        <a class="dropdown-item" href="#"> <i class="fa fa-times-circle"
                                                aria-hidden="true"></i>
                                            Deletar </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="${tarefas.empty}">
                            <td>
                                <span>Sem tarefas pra esse conteudo!</span>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>

            </form>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="formPalavra" data-backdrop="static" data-keyboard="true" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Cadastrar nova Tarefa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="d-flex justify-content-center">

                                <form class="custom-control" method="POST" action="/studies/cadastrar"
                                    th:object="${palavra}">
                                    <div class="row mt-2">

                                        <div class="col-sm-12 col-md-6">
                                            <label for="">Português</label>
                                            <input type="text" class="form-control" required name="portugues"
                                                placeholder="Digite em português">
                                        </div>
                                        <div class="col-sm-12 col-md-6" style="display: inline">
                                            <label for="">Inglês</label>
                                            <input type="text" class="form-control" required name="ingles"
                                                placeholder="Digite em inglês">
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-sm-12">
                                            <label for="exampleFormControlTextarea1">Definição</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                placeholder="Digite a definição" name="definicao"
                                                style="min-width: 100%;"></textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label class="mt-1" for="inlineFormCustomSelect">Conteudo: </label>
                                            <select class="custom-select" required id="inlineFormCustomSelect"
                                                th:field="*{conteudos}" name="conteudo" th:value="${conteudos}">

                                                <option  th:each="con:${conteudos}"
                                                    th:value="${con.id}" th:text="${con.titulo}"></option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 custom-control custom-checkbox ml-3 mt-2">
                                            <input type="checkbox" class="custom-control-input" id="customControlInline"
                                                name="termoTecnico" th:checked="${termoTecnico}">
                                            <label class="custom-control-label" for="customControlInline">Termo
                                                Técnico?</label>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-12">
                                            <button class="btn btn-lg d-flex justify-content-center mt-4"
                                                style="width: 100%; background-color: #036977; color: white;"
                                                type="submit" onmouseover="this.style.backgroundColor='#0f8191'"
                                                onmouseout="this.style.backgroundColor='#036977'">
                                                Cadastrar
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="formTarefa" data-backdrop="static" data-keyboard="true" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Cadastrar nova Tarefa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="d-flex justify-content-center">

                                <form class="custom-control" method="POST" action="/studies/cadastrar"
                                    th:object="${tarefa}" enctype="multipart/form-data">

                                    <div class="row mt-3">
                                        <div class="col-sm-12">
                                            <label for="exampleFormControlTextarea1">Enunciado da Tarefa</label>
                                            <textarea class="form-control" required id="exampleFormControlTextarea1"
                                                rows="1" name="enunciado" placeholder="Digite aqui o Enunciado"
                                                style="min-width: 100%;"></textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="mt-2" for="inlineFormCustomSelect">Tipo da Tarefa</label>
                                            <select class="custom-select mr-sm-2" required id="inlineFormCustomSelect"
                                                name="tipoTarefa">
                                                <option selected disabled value="">Escolha...</option>
                                                <option
                                                    th:each="tipoTarefa : ${T(br.edu.ifal.enology.model.TipoTarefa).values()}"
                                                    th:value="${tipoTarefa}" th:text="${tipoTarefa}"></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="mt-2" for="inlineFormCustomSelect">Nível da Tarefa</label>
                                            <select class="custom-select mr-sm-2" required id="inlineFormCustomSelect"
                                                name="nivel">
                                                <option selected disabled value="">Escolha...</option>
                                                <option th:each="nivel : ${T(br.edu.ifal.enology.model.Nivel).values()}"
                                                    th:value="${nivel}" th:text="${nivel}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="row mt-3 mb-2 d-flex justify-content-center">
                                            <div class="col-sm-12">
                                                <label class="align-bottom">Resposta da Tarefa</label>
                                                <select class="selectpicker" required data-live-search="true"
                                                    name="resposta">
                                                    <option th:each="palavra:${palavras}" th:value="${palavra.id}"
                                                        th:text="${palavra.ingles} + ', ' + ${palavra.portugues}">
                                                    </option>
                                                </select>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label class="mt-2">Pontuação da Tarefa</label>
                                            <input type="number" value="0" min="0" max="1000" step="1"
                                                class="form-control" required name="pontuacao" style="width: 30%;">
                                        </div>
                                    </div>



                                    <p>
                                        <a class="btn btn-md text-white" style="background-color: #036977;"
                                            data-toggle="collapse" href="#collapseExample" role="button"
                                            aria-expanded="false" aria-controls="collapseExample">
                                            Adicionar Texto
                                        </a>

                                    </p>

                                    <div class="collapse form-group" id="collapseExample">

                                        <label for="message-text" class="col-form-label">Texto da Tarefa:</label>
                                        <textarea name="conteudo" th:field="${tarefa.texto.conteudo}"
                                            th:value="${tarefa.texto.conteudo}" class="form-control"
                                            id="exampleFormControlTextarea1" rows="3" placeholder="Digite o Texto"
                                            style="min-width: 100%;"></textarea>

                                        <input type="text" class="form-control form-control-sm mt-2 mb-2"
                                            style="width: 100%;" placeholder="Fonte Texto"
                                            th:field="${tarefa.texto.fonteConteudo}"
                                            th:value="${tarefa.texto.fonteConteudo}" name="fonteConteudo">
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">Imagem do Texto: </label>
                                            <input type="file" name="imagem" class="form-control-file"
                                                id="exampleFormControlFile1">
                                        </div>

                                        <div class="img-fluid ">
                                            <img id="blah" class="d-none img-thumbnail" src="" style="max-width:300px"
                                                width="250" height="250" />
                                        </div>
                                        <div class="form-group">
                                            <input th:value="${tarefa.texto.fonteImagem}"
                                                th:field="${tarefa.texto.fonteImagem}" type="text"
                                                class="form-control form-control-sm mt-1" style="width: 100%;"
                                                placeholder="Fonte Imagem" name="fonteImagem">
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col-sm-12">
                                            <button class="btn btn-lg d-flex justify-content-center mt-4"
                                                style="width: 100%; background-color: #036977; color: white;"
                                                type="submit" onmouseover="this.style.backgroundColor='#0f8191'"
                                                onmouseout="this.style.backgroundColor='#036977'">
                                                Cadastrar
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->

    <div th:if="${message}" id="toast"
        style="position: absolute; right: 0; bottom: 0; margin-bottom: 2%; margin-right: 2%;">

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>
                        <span class="text-black" th:text="${message}"></span>
                    </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <script>
        var tarefa = document.getElementById('tarefa');
        var palavra = document.getElementById('palavra');

        function exibirTarefa() {
            if (palavra.style.display == "block") {
                palavra.style.display = 'none';
                document.getElementById("palavraBtn").style.backgroundColor = '#007bff';
            }
            if (tarefa.style.display == "block") {
                tarefa.style.display = 'none';
                document.getElementById("tarefaBtn").style.backgroundColor = '#28a745';
                return true;
            }
            tarefa.style.display = 'block';
            document.getElementById("tarefaBtn").style.backgroundColor = '#011422';
        }

        function exibirPalavra() {
            if (tarefa.style.display == "block") {
                tarefa.style.display = 'none';
                document.getElementById("tarefaBtn").style.backgroundColor = '#28a745';
            }
            if (palavra.style.display == "block") {
                palavra.style.display = 'none';
                document.getElementById("palavraBtn").style.backgroundColor = '#007bff';
                return true;
            }
            palavra.style.display = 'block';
            document.getElementById("palavraBtn").style.backgroundColor = '#011422';
        }


    </script>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>
    <script>


        setTimeout(() => {
            $('.toast .alert').alert('close')
        }, 5000);
      
        exampleFormControlFile1.onchange = evt => {
            const [file] = exampleFormControlFile1.files
            if (file)
                blah.src = URL.createObjectURL(file)
            blah.classList.remove('d-none')
        }

    </script>