<!DOCTYPE html>
<html lang="pt-Br">

<head>
	<title>Confirmar Email | E-nology</title>
	<meta name="keywords" content="e-nology, english, ingles, informatica" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="fonts/font-exo.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-lg fixed-top d-flex justify-content-center border-bottom">
		<a class="navbar-brand" href="/"><h2 class="text-dark" style="font-family: 'Exo 2';">E-nology</h2></a>
	</nav>
	<div class="container d-flex justify-content-center">
		<div class="col-sm-2"></div>
		<div class="col-sm-8 mt-5">
			<div class="row bg-light justify-content-md-center mt-5">
				<div class="col-md-auto mt-5">
					<form action="/ativar-conta/" method="GET" onsubmit="return validaFormVerificacaoEmail(this);">
						<div class="row d-flex justify-content-center">
							<span class="fa fa-envelope-o" style="font-size:69px"></span>
						</div>
						<h1 class="text-center">Verificação de email</h1>
						<p class="mb-4 text-center">Digite o código enviado para seu email para ativar sua conta.</p>
						<div class="alert alert-danger fade show text-center" th:if="${mensagem != null}" id="mensagem"
							role="alert">
							<span th:text="${mensagem}"></span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="row d-flex justify-content-center">
							<label for="codigoVerificacao">Código:</label>
						</div>
						<div class="row d-flex justify-content-center">
							<input type="text" name="codigoVerificacao" id="codigoVerificacao" required class="mb-2">
						</div>
						<div class="row d-flex justify-content-center">
							<span id="msgErroCod" class="text-danger mb-2"></span>
						</div>
						<input type="submit" class="btn btn-primary btn-lg btn-block" value="Ativar Conta">
						<a href class="pass text-center d-flex justify-content-center m-2" data-toggle="modal" data-target="#reenviarModal">Não recebi o e-mail</a>

					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="modal fade" id="reenviarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Reenviar Email</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/reenviar-email" method="GET">
						<div>
							<div class="row d-flex justify-content-center">
								<div class="form-group">
									<label for="email">Digite seu email aqui</label>
									<input type="email" name="email" id="Email" required class="form-control">
								</div>
							</div>
							<div class="row d-flex justify-content-center">
								<button type="submit" class="btn btn-primary">Reenviar Email</button>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

				</div>
			</div>
		</div>
	</div>
</body>

<script src="js/form.js"></script>
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>