<!doctype html>
<html lang="pt-br">

<head>
    <title>Lista de Turmas || ADMIN </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/sidebar.css" rel="stylesheet">
    <link href="/fonts/font-nunito.css" rel="stylesheet">
    <link href="/fonts/font-exo.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <link rel="stylesheet" href="/css/adminpages.css">
</head>

<body>

    <th:block th:include="navbar-admin"></th:block>

    <div class="container sessao">
        <div class="row">
            <div class="col-sm-12 col-md-12 mt-3 mb-2">
                <a href="/admin/turmas/criar">
                    <button type="button" class="btn btn-lg btn-success float-right"><span
                            class="fa fa-users teste"></span> Criar
                        Turma</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mb-3">
                <h1 class="text-center">Turmas</h1>
            </div>
        </div>
        <div class="row pl-5">
            <div class="col-sm-12 col-md-12 listagem">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Semestre</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="turma:${turmas}">
                            <td th:text="${turma.id}"></td>
                            <td><a style="text-decoration: none; color: darkcyan;" th:href="'/admin/turmas/' + ${turma.id} + '/alunos'" th:text="${turma.nome}"></a></td>
                            <td th:text="${turma.ano} + '.' + ${turma.semestre}"></td>
                            <td>
                                <div class="dropright">
                                    <span class="fa fa-ellipsis-v" style="font-size: 15pt; cursor: pointer;"
                                        data-toggle="dropdown"></span>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:href="@{'/admin/turmas/editar/' + ${turma.id}}">
                                            Editar Turma</a>
                                        <a class="dropdown-item"
                                            th:href="@{'/admin/turmas/' + ${turma.id}} + '/add-alunos'">Adicionar
                                            Alunos</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item"
                                            th:href="@{'/admin/turmas/excluir/' + ${turma.id}}">Excluir</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/adminpages.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>