<!doctype html>
<html lang="pt-br">

<head>
  <title>Cadastro de Turma || ADMIN </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/fonts/font-nunito.css">
  <link rel="stylesheet" href="/fonts/font-exo.css">
  <link rel="stylesheet" href="/fonts/font-jost.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/adminpages.css">
  <link rel="stylesheet" href="/css/turmapages.css">

  <style>
    .sidenav a i {
        color: #FFF !important;
    }

</style>

</head>

  <th:block th:include="navbar-admin"></th:block>

  <div class="container">

    <i class="fa fa-graduation-cap text-primary d-flex justify-content-center mt-5 icon-turma-add"></i>

    <div class="row justify-content-center ">
      <h2 class="title-add-turma">Criar Turma</h2>
    </div>

    <div class="row mt-5 d-flex  mt-5 justify-content-center ">
      <form action="/admin/turmas/criar" method="POST" th:object=${turma}>
        <div class="col-sm-12 col-md-12">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <input id="id" name="id" type="hidden" th:value="${turma.id}">
              <input id="nome" name="nome" type="text" class="inputText form-control turma-add-nome"
                th:value="${turma.nome}" required>
              <span class="floating-label">Name</span>
            </div>
            <select name="semestre" class="form-control ml-2 turma-add-semestre" id="semestre">
              <option th:selected="${turma.semestre == '1'}" selected value="1">1° Semestre</option>
              <option th:selected="${turma.semestre == '2'}" value="2">2° Semestre</option>
            </select>
          </div>
          <div class="d-flex justify-content-center">
            <p for="ano" class="mt-1 mr-1 turma-add-ano ">Year: </p>
            <input th:value="${turma.ano}" type="text" id="ano" name="ano" class="form-control turma-add-ano-input"
              placeholder="Disabled input">
          </div>

          <div class="justify-content-center d-flex">
            <a href="/admin/turmas">
              <button type="button" class="btn btn-lg">Cancelar</button>
            </a>
            <input type="submit" class="btn btn-lg btn-success " value="Salvar">
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>

  <script src="/js/adminpages.js"></script>
  <script src="/js/sidebar.js"></script>
  <script src="/js/jquery-3.3.1.slim.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>