<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error 404</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg_erro">
    <div class="container mt-1">
        <div class="row"></div>
        <div class="row d-flex justify-content-center">
            <img src="../images/what.gif" class="img-fluid">
        </div>
    <div class="row">
        <div class="jumbotron alert-danger col text-center">
            <h1>Ops... Algo deu errado.</h1>
            <h2 th:text="${status + ' ' + error}"></h2>
        </div>
    </div>
    </div>

</body>

</html>