.sessao {
    margin: 3% 0 0 13%;
  }

  .listagem {
    background-color: #ffffff;
    width: 60%;
    height: 100%;
    justify-content: center;
    display: flex;
  }

  .sidenav{
    width: 200px;
    background-color: #0d101b;
  }

  .gradient{
    background: repeating-linear-gradient(#0d101b, #0d101b 49.9%, #0d101b 50.1%, #0d101b 100%);
  }

  .navbar {
    background-color: #0d101b;
    padding: 0;
  }

  .sidenav a:hover {
    background-color: #011f41;
  }
  
  .ativo {
    background-color: #011f41;
  }
  .marca{
    font-size: 0pt !important;
  }
  .marca-admin{
    font-family: 'Exo 2', sans-serif;
    font-weight: bold !important;
    font-size: 16px !important;
  }
  .navbar{
    justify-content: initial !important;
  }

  .botao{
    font-weight: bold !important;
    font-size: 20px !important;
    margin-left: 3% !important;
  }
 

  @media (min-width: 1200px) {
    .main-wrapper {
      width: 60%;
    }
  }