

.fonte {
    font-family: 'Nunito', sans-serif;
}

form {
    width: 50%;
    position: relative;
    margin: 8% auto 0;
    font-size: 15px;
}


.linha {
    width: 100%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
}

.radiobtn {
    position: relative;
    display: block;
    text-align: center;
}

.radiobtn label {
    display: block;
    background: #036977;
    color: #444;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #036977;
    margin-bottom: 5px;
    cursor: pointer;
}

.radiobtn label:after,
.radiobtn label:before {
    content: "";
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.navbar {
    background-color: #011f41;

}

.direita {
    justify-content: center;
}

.radiobtn label:before {
    background: transparent;
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    width: 0;
    height: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}

.teste {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    transition: 0.3s;
}

.radiobtn input[type="radio"] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none;
}

.radiobtn input[type="radio"]:checked+label {
    background: #011f41;
    animation-name: blink;
    animation-duration: 1s;
    border-color: #036977;
}

.radiobtn input[type="radio"]:checked+label:before {
    width: 20px;
    height: 20px;
}

@keyframes blink {
    0% {
        background-color: #011f41;
    }

    25% {
        background-color: #00475b;
    }

    50% {
        background-color: #022640;
    }

    100% {
        background-color: #011f41;
    }
}

.botao-resultado{
    width: 50%;
    background-color: #036977; 
    color: white;
}

.icone-resultado{
    font-size: 45pt;
    margin-left: 380px;
}

.texto-resultado{
    margin-left: 383px;
    font-size: 12pt;
}

.texto-acertou{
    margin-left: 372px !important;
}

.modal-dialog {

    width: 100%;
    top: auto;
    right: auto;
    left: auto;
    bottom: 0;
}

.icone-grande{
    font-size: 35px;
}

.icone-normal{
    font-size: 25px;
}

.icone-amarelo{
    color: #e7f84e;
}

h1 {
    font-size: 2.25rem;
    font-family: 'Bebas Neue', cursive;
}

.modal {
    width: 100%;
}

.modal-lg,
.modal-xl {
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 16pt;
    }

    form {
        width: 80%;
    }

    .texto-enunciado-resultado{
        font-size: 12pt;
    }

    .icone-resultado{
        font-size: 45pt;
        margin-left: 150px;
    }
    
    .texto-resultado{
        margin-left: 151px;
        font-size: 12pt;
    }
    
    .texto-acertou{
        margin-left: 140px !important;
    }

    .icone-grande{
        font-size: 28px;
    }
    
    .icone-normal{
        font-size: 18px;
    }
    
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    h1 {
        font-size: 28pt;
    }

    form {
        width: 88%;
    }

    .texto-enunciado-resultado{
        font-size: 24pt;
    }

    .icone-resultado{
        font-size: 45pt;
        margin-left: 150px;
    }
    
    .texto-resultado{
        margin-left: 151px;
        font-size: 12pt;
    }
    
    .texto-acertou{
        margin-left: 140px !important;
    }

    .botao-resultado{
        width: 100% !important;
    }
}