.fonte {
    font-family: 'Nunito', sans-serif;
}

form {
    max-width: 40%;
    position: relative;
    margin: 8% auto 0;
    font-size: 15px;
}

.radiobtn {
    position: relative;
    display: block;
    text-align: center;
}

.radiobtn label {
    display: block;
    background: #036977;
    color: #444;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #036977;
    margin-bottom: 5px;
    cursor: pointer;
}

.radiobtn label:after,
.radiobtn label:before {
    content: "";
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.navbar {
    background-color: #011f41;

}

.direita {
    justify-content: center;
}

.radiobtn label:before {
    background: transparent;
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    width: 0;
    height: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}

.teste {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    transition: 0.3s;
}

.radiobtn input[type="radio"] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none;
}

.radiobtn input[type="radio"]:checked+label {
    background: #011f41;
    animation-name: blink;
    animation-duration: 1s;
    border-color: #036977;
}

.radiobtn input[type="radio"]:checked+label:before {
    width: 20px;
    height: 20px;
}

@keyframes blink {
    0% {
        background-color: #011f41;
    }

    25% {
        background-color: #00475b;
    }

    50% {
        background-color: #022640;
    }

    100% {
        background-color: #011f41;
    }
}
