

.attention-background {
    background-color: #fff;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.title-blue {
    color: #0056b3
}

.navbar {
    z-index: 2;
}

.navbar-brand {
    font-family: 'Exo 2';
}

.nav-row {
    margin: 0;
    width: 100%;
}

.card-img-top {
    width: 90%;
}

.btn-continue {
    transform: scale(1);
}

.bg-text {
    background: linear-gradient(to right, #111 5%, transparent 95%);
    background-color: #1d2124;
    color: white;
    padding: 45px;
}

.jumbotron {
    padding: 25pt;
}

.btn-attention {
    width: 100%;
    background-color: #036977;
    color: white;
    transform: scale(1);
    border-radius: 10px;
}

.btn-attention:hover {
    background-color: #0f7cf0;
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.fa-bars {
    font-size: 30px !important;
    margin-left: 5%;
}

.col-space {
    padding-left: 2%;
}

.col-style {
    margin-top: .3125rem;
}

.font-nav {
    font-size: 18pt;
    font-weight: 400;
}

#img_perfil {
    min-width: 130px;
    height: 130px;
    border: 2px solid #ddd;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #036977;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fff;
    background-color: rgb(3, 84, 151);
}

.fonte {
    font-family: 'Nunito', sans-serif;
}

.img-user {
    border-radius: 20px;
    object-fit: cover;
    max-width: 100%;
}

.img-user-of {
    font-size: 50pt !important;
    color: #011f41;
}

.img-user-normal-of {
    font-size: 50pt !important;
    color: #011f41;
}

.user-name {
    font-size: 13pt;
    color: #74ABDD;
}

.ativo {
    background-color: rgb(3, 84, 151);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.bg-black {
    background-color: black;
}

.txt-light-blue {
    color: #74ABDD;
}

.txt-light-blue:hover {
    color: white;
}





















.col-3 {
    max-width: 30% !important;
}

.ativo {
    border: 3px  solid #0154cf !important;
    border-radius: 20px;
}

.erro {
    border: 3px  solid #b11803 !important;
    border-radius: 20px;
}

.acertou {
    border: 3px solid #018513 !important;
    border-radius: 20px;
}

@media (min-width: 320px ) and (max-width: 767px) {
        
    .container:nth-child(1) {
        justify-content: center !important;
    }

    .footer {
        padding-top: 60px;
    }
    .container {
        text-align: center !important;
    }

    .rank-icon {
        display: none !important;
    }

    .info-icon {
        display: none !important;
    }

    .container-secondary {
        padding: 10px !important;
        width: 100% !important;
        margin-left: 20px !important;
    }

    .navbar {
     
        justify-content: left !important;
    }
}

    .container-secondary {
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .box {
        width: 700px;
        height: 400px;
    }

    .navbar h4 {
        font-weight: 900;
        margin: 0px;
        color: #0062cc;
    }

    .box h1 {
        font-size: 160px;
        font-weight: 900;
        margin: 0px;
        text-transform: uppercase;
        color: #011f416c;
        flex-direction: column;
    }

    .btn {
        margin-top: 5px;
        margin-left: 0;
    }

    .jumbotron {
        padding: 15pt;
    }

    .icons {
        color: #0f7cf0;
        font-size: 1.3rem;
    }

    .btn {
        border-radius: 10px;
    }

    .navbar {
        bottom: 0;
        top: auto;
    }

    .rank-icon:hover {
        background-color: hsla(211, 82%, 35%, 0.048);
    }

    .rank-icon {
        color: #0062cc;
        width: 120px;
        height: 60px;
        border-radius: 5px;
        cursor: pointer;
    }

    .texto-mingle {
        font-size: 1rem;
        max-width: 50%;
    }

    .info-icon {
        padding-left: 15px !important;
        width: 120px;
        height: 60px;
        border-radius: 5px;
    }

    .info-icon:hover {
        background-color: hsla(211, 82%, 35%, 0.048);
    }

    .icon {
        background: linear-gradient(to right, #0062cc 50%, #6c757d 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .icon-title {
        background: linear-gradient(to left, #0062cc 50%, #6c757d 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #btnStart {
        max-width: 50%;
    }

    @media (max-width: 540px) {
        .title{
            font-size: 3rem;
        }

        .texto-mingle {
            max-width: 100%;
        }

        #words #word h4 {
            font-size: 1rem !important;
        }

    }
    
    @media (min-width: 541px ) and (max-width: 767px) {

        .title{
            font-size: 4rem;
        }

        ul{
            max-width: 40% !important;
        }

        .footer {
            margin-top: 50px !important;
            position: relative !important;
        }

        #word h4 {
         font-size: 0.9rem;
        }

        .col-2 {
            max-width: 60% !important;
        }

        .navbar {
         
         justify-content: left !important;
     }

    }
        .w3-animate-fading {
            animation: fading 2s
        }

        .animation-invert {

            animation: fadout 1s normal;

        }

        @keyframes fadout {

            0% {
                opacity: 0
            }

            100% {
                opacity: 1
            }
        }

        @keyframes fading {
            0% {
                opacity: 0
            }

            50% {
                opacity: 1
            }

            100% {
                opacity: 0
            }
        }