.row {
    padding: 0rem 0rem;
}

.upload-imagem>input {
    display: none;
}

.upload-imagem img {
    border-radius: 20px;
    min-width: 200px;
    max-width: 300px;
    cursor: pointer;
    max-height: 220px;
    object-fit: cover;
}

.navbar i {
    color: #FFF;
}

.nav a {
    color: #777777;
}

.imagemUser {
    font-size: 120pt;
}

@media (max-width: 700px) {
    .upload-imagem img {
        max-width: 100px;
        max-height: 150px;
    }
}

@media (min-width: 700px) {
    h1 {
        font-size: 30pt;
        margin-bottom: 10%;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 22.5pt;
        margin-bottom: 10%;
    }
    button {
        width: 100% !important;
    }
    .imagemUser {
        font-size: 80pt;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    h1 {
        font-size: 25pt;
        margin-bottom: 10%;
    }
}

@media (min-width: 1281px) {
    h1 {
        font-size: 25pt;
        margin-bottom: 10%;
    }
}