.imagem{
    width: 67%;
    margin-bottom: 20px;
}

.fonte-titulo{
    font-family: 'Pacifico', cursive;
}

.fonte-mensagem{
    font-family: 'Comfortaa', cursive;
}

.btn{
    margin-left: 25px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    padding: 12px;
    border-radius: 50%;
}

.icone{
    font-size: 20pt !important;
}

.btn:hover{
    background-color: #011422;
    border-color: #011422 !important;
}

.pontos{
    font-size: 18pt;
    font-family: 'Ubuntu Condensed', sans-serif;
}

@media only screen and (max-width: 600px) {
.imagem{
    width: 100%;
}

.container{
    margin-top: 90px !important;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .container{
        margin-top: 90px !important;
    }
    .imagem{
    width: 100%;
    }

    .fonte-titulo{
        font-size: 40pt;
    }
    
    .fonte-mensagem{
        font-size: 28pt;
    }

    .btn{
        font-size: 20pt;
    }

}