.body-background{
    position: relative;
    height: 100vh;
    background-color: black;
}

.body-background:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://i.imgur.com/m9Oo2QP.gif'); 
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

.attention-background {
    background-color: #fff;
}


.hide {
    display: none;
}

.show {
    display: block;
}

.title-blue {
    color: #0056b3
}

.navbar-brand{
    font-family: 'Exo 2'; 
}

.card-img-top {
    width: 90%;
}

.btn {
    transform: scale(0.8);
}

.btn:hover {
    transform: scale(1);
    transition: all ease 0.2s;
}

.btn-continue {
    transform: scale(1);
}

.bg-text {
    background: linear-gradient(to right, #111 5%, transparent 95%);
    background-color: #1d2124;
    color: white;
    padding: 45px;
}
#btn1, #btn2, #btn-resume {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.jumbotron {
    padding: 25pt;
}

.btn-attention {
    width: 100%; 
    background-color: #036977; 
    color: white;
    transform: scale(1);
    border-radius: 10px;
}

.btn-attention:hover {
    background-color: #0f7cf0; 
    color: white;
}

@media (max-width: 760px) {
    .btn {
        transform: scale(1);
    }

    #start{
        margin-top: 110px !important;
    }

    #game_choice {
        margin-top: 50px !important;
    }

    .btn-continue {
        width: 100% !important;
    }

    #answerTxt {
        width: 100% !important;
    }

    .bg-text {
        background: linear-gradient(to right, transparent 0%, transparent 100%);
        background-color: transparent !important;
    }

    .space {
        margin-top: 0 !important;
    }

    .attention-jumbotron {
        font-size: 35pt;
    }

    .btn-attention {
        margin-right: 10px;
        margin-bottom: 15px;
    }
}