<!doctype html>
<html lang="pt-br">

<head>
    <title>Adicionar Alunos || E-nology</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-exo.css">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/adminpages.css">
</head>

<body>

    <th:block th:include="navbar-admin"></th:block>
   
    <div class="container">

        <form th:object="${turma}">
            <div class="row mt-5 d-flex justify-content-center">
                <div class="form-group col-md-3 col-sm-6">
                    <label for="disabledTextInput">Nome da Turma</label>
                    <input type="text" id="disabledTextInput" class="form-control text-center" th:value="${turma.nome}"
                        placeholder="Disabled input" disabled>
                </div>
                <div class="form-group col-md-2 col-sm-6">
                    <label for="disabledTextInput">Semestre</label>
                    <input type="text" id="disabledTextInput" class="form-control"
                        th:value="${turma.ano} + '.' + ${turma.semestre}" placeholder="Disabled input" disabled>
                </div>
            </div>

            <div class="row mt-3 d-flex justify-content-center">
                <table class="table table-hover col-sm-12 col-md-8">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody id="students">
                        <tr th:each="aluno : ${alunos.content}">
                            <td>
                                <img th:if="${aluno.imagem}" th:src="@{'/localCloud/' + ${aluno.imagem.id}}"
                                    alt="imagem" style="border-radius: 10px;  max-width: 100%;
                                width: 200px;
                                height: 100px;
                                object-fit: cover;">
                                <span th:unless="${aluno.imagem}"
                                    class="fa fa-user-circle d-flex justify-content-left ml-5"
                                    style="font-size: 6rem; color: #011f41;"></span>

                            </td>
                            <td th:text="${aluno.nome} + ' ' + ${aluno.sobrenome}"></td>
                            <td th:text="${aluno.email}"></td>
                            <td>
                                <a th:title="'Adicionar à turma: ' + ${turma.nome}" th:unless="${#lists.contains(turma.usuarios, aluno)}"
                                    th:href="@{'/admin/turmas/' + ${turma.id} + '/add-alunos/' + ${aluno.id}(page=${alunos.number}, size=${alunos.size})}"
                                    >
                                    <i class="fa fa-plus-circle text-success" aria-hidden="true"
                                        style="font-size: 2rem;"></i>
                                </a>
                                <a th:title="'Remover da turma: ' + ${turma.nome}" th:if="${#lists.contains(turma.usuarios, aluno)}" th:href="@{'/admin/turmas/' + ${turma.id} + '/remover-alunos/' + ${aluno.id}}"
                                   >
                                    <i class="fa fa-trash text-danger" aria-hidden="true" style="font-size: 2rem;"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    <div class="row d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a th:if="${alunos.hasPrevious()}" class="page-link"
                        th:href="@{'/admin/turmas/' + ${turma.id} + '/add-alunos'(page=${alunos.number-1}, size=${alunos.size})}"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <th:block th:each="i : ${#numbers.sequence(0, alunos.totalPages - 1)}">
                <li class="page-item" id="prev-btn" th:classappend="${alunos.number + 2} eq ${i + 2} ? 'active' : ''">
                    <a th:href="@{'/admin/turmas/' + ${turma.id} + '/add-alunos'(page=${i}, size=${alunos.size})}" class="page-link">
                        [[ ${i} + 1 ]]
                    </a>
                </li>
                </th:block>
                
                <li class="page-item">
                    <a th:if="${alunos.hasNext()}" class="page-link"
                    th:href="@{'/admin/turmas/' + ${turma.id} + '/add-alunos'(page=${alunos.number+1}, size=${alunos.size})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>


    </div>

    <div class="row d-flex float-right mb-5">
        <a href="/admin/turmas">
        <button type="button" class="btn btn-primary btn-lg btn-block">Concluir</button>
    </a>
    </div>

    </div>

    <script src="/../../js/adminpages.js"></script>
    <script src="/../../js/sidebar.js"></script>
    <script src="/../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="/../../js/popper.min.js"></script>
    <script src="/../../js/bootstrap.min.js"></script>
</body>

</html>