<!doctype html>
<html lang="pt-br">

<head>
  <title>Admin Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="fonts/font-nunito.css">
  <link rel="stylesheet" href="fonts/font-exo.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/adminpages.css">

</head>

<body>

  <th:block th:include="navbar-admin"></th:block>

  <div class="row d-flex justify-content-center mt-5">
    <i class="fa fa-gears" style="font-size: 200pt; color: #0d101b;"></i>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 text-center">
        <h1 th:text="'Welcome! ' + ${usuario.nome} + ' ' + ${usuario.sobrenome}"></h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 text-center">
        <h6 class="">
            Nesta área você pode criar tarefas, ver a lista de alunos e monitorar suas turmas!
            <small class="fas fa-tools" style="color: #0d101b; font-size: 0.8rem;"></small>
        </h6>
    </div>
</div>


  <script src="js/adminpages.js"></script>
  <script src="js/sidebar.js"></script>
  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>