<!doctype html>
<html lang="pt-br">

<head>
    <title>It's Game Time | E-nology</title>
    <meta name="keywords" content="Apps Login Form Responsive widget, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 mt-4">
                <div class="row d-flex justify-content-center">
                    <img src="images/logo2.png" width="20%" class="img-fluid">
                </div>
                <div class="row d-flex justify-content-center">
                    <h1 class="mt-4 text-center">E-NOLOGY</h1>
                </div>
                <div class="row">
                    <p class="mt-5 mb-5 text-center" style="font-size: 25px">
                        <b class="text">Programar sem saber inglês é deixar de conhecer um mundo inteiro!
                        </b>
                    </p>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-6">
                        <a href="/cadastro">
                            <button type="submit" class=" btn-sm submit">
                                <\Comece agora\>
                            </button>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/login">
                            <button class="btn-sm submit">
                                Já tenho conta
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>