<!doctype html>
<html lang="pt-br">

<head>
    <title>It's Game Time | E-nology</title>
    <meta name="keywords" content="Apps, Ingles, English, Informatica" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <th:block th:include="navbar"></th:block>

    <div class="main-wrapper" onclick="esconderSidebar()">
        <div class="container">
            <div class="row mt-4 mb-5">
                <div class="col-12 mt-5 d-flex justify-content-center border border-dark">
                    <h1>Siga-nos</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 mb-5 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="images/Jackson.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Jackson</h5>
                            <p class="card-text text-justify">Nerd, Otaku, e um grande fã de Doctor Who! Para mim, fazer
                                programa escutando música é algo que todos deveriam experimentar antes de morrer</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="https://www.instagram.com/j4ckwho/"
                                    target="_blank"><b><i class="fa fa-instagram" title="Insta Jackson"
                                            style="font-size: 24px;"></i></a> <i style="color: black;">@j4ckwho</i></b>
                            </li>
                            <li class="list-group-item"><a href="https://github.com/JackWh0" target="_blank"><b><i
                                            class="	fa fa-github" title="GitHub Jackson"
                                            style="font-size: 24px;"></i></a> <i style="color: black;">JackWh0</i></b>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 mb-5 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="images/Anderson.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Anderson</h5>
                            <p class="card-text text-justify">Assisto naruto desde que nasci, preguiçoso, meus códigos
                                são minha arte. Podia ser a gente, mas tenho mais um bug pra resolver</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="https://www.instagram.com/andersoonmgs/"
                                    target="_blank"><b><i class="fa fa-instagram" title="Insta Anderson"
                                            style="font-size: 24px;"></i></a> <i
                                    style="color: black;">@andersoonmgs</i></b></li>
                            <li class="list-group-item"><a href="https://github.com/andersonmag" target="_blank"><b><i
                                            class="fa fa-github" title="GitHub Anderson"
                                            style="font-size: 24px;"></i></a> <i
                                    style="color: black;">andersonmag</i></b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid espaco-rodape fundo-do-poco d-flex justify-content-center">
        <div class="row"></div>
        <p id="mensagem"></p>
    </div>

    <script src="js/index.js"></script>
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>