<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Redefinição de Senha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                    style="border-collapse: collapse;">
                    <tr>
                        <td align="center" bgcolor="#262626" style="padding: 0;">
                            <img src=" https://i.imgur.com/vripxUt.png " alt="logo"
                            style="display: block;" />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 30px 30px 20px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="font-family: Arial, sans-serif;">
                                      <h1>  ${title} 👋 </h1>
                                      <h3 style="color: #6c757d;">We'll help you to change your password!</h3>
                                      
                                    </td>
                                </tr>

                                <tr>
                                    <td  style="padding: 15px 0 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                        Para realizar a alteração de senha, basta clicar no botão abaixo e redefini-la logo a seguir. <br>
                                       </td>
                                </tr>
                                
                                <tr>

                                   
                                    <td
                                        style="padding: 15px 0 10px 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; text-justify: auto; text-align: center;">
                                        <a align="center" href="${link}" style="
                                            box-shadow:inset 0px 1px 0px 0px #54a3f7;
                                            background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
                                            background-color:#007dc1;
                                            border-radius:6px;
                                            margin-top: 20px;
                                            margin-bottom: 20px;
                                            border:1px solid #124d77;
                                            display:inline-block;
                                            width: 60%;
                                            cursor:pointer;
                                            color:#ffffff !important;
                                            font-family:Arial;
                                            font-size:16px;
                                            padding:12px 24px;
                                            text-decoration:none;
                                            text-shadow:0px 1px 0px #154682;">
                                            Redefinir Senha
                                        </a>
                                        <br>
                                        <strong align="center">
                                            <small  style="background-color: #f8f9fa;">
                                                Nota: Este link expirará em 12 horas, ou caso efetue a mudança de senha.
                                            </small>
                                        </strong>
    
                                       <br><small style="font-family: Arial, sans-serif;">Se você não solicitou alteração de senha,
                                             pedimos que desconsidere este email.</small>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#011422" style="padding: 20px 30px 20px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="75%"
                                        style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                                        © E-nology, 2020 . Todos os direitos reservados, talkey?
                                    </td>
                                    <td width="75%" align="right">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <a href="https://www.instagram.com/j4ckwho/" target="_blank"><img
                                                            src="https://seeklogo.com/images/I/instagram-icon-logo-4D790D4C15-seeklogo.com.png"
                                                            alt="Twitter" width="38" height="38" style="display: block;"
                                                            border="0" /></a>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="20"> </td>
                                                <td>
                                                    <a href="https://www.instagram.com/andersoonmgs/"
                                                        target="_blank"><img
                                                            src="https://seeklogo.com/images/I/instagram-icon-logo-4D790D4C15-seeklogo.com.png"
                                                            alt="Facebook" width="38" height="38"
                                                            style="display: block;" border="0" /></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>