<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home | E-nology</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mapa.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <script language="JavaScript">
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
    </script>
    <style>
        .fonte {
          font-family: 'Nunito', sans-serif;
        }
      
        .sidenav {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: #2f353a;
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
		}
      
        .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 15px;
          color: #ffffff;
          display: block;
          transition: 0.3s;
      
        }
      
        .sidenav a:hover {
          background-color: rgb(3, 84, 151);
        }
      
        .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }
      
        @media screen and (max-height: 450px) {
          .sidenav {
            padding-top: 15px;
          }
      
          .sidenav a {
            font-size: 18px;
          }
        }
      </style>
</head>

<body class="fundo">
	<div style="background-color: #2f353a; height: 50px;" class="row align-items-center fixed-top">
		<span style="font-size:30px;cursor:pointer; margin-left: 5%;color: white;" onclick="changeNav()">&#9776; </span>
	</div>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
			style="background-color:transparent !important">&times;</a>
		<div class="ra" style="border-bottom: 1px solid #3a3f48;">
			<div class="d-flex justify-content-center">
				<img src="images/pig.png" alt="" width="55" class="img-fluid d-flex justify-content-center">
			</div>
			<span th:text="${usuario.nome} + ' ' + ${usuario.sobrenome}"
				style="color: #ffffff; background-color: none;font-size: 15px;"
				class="mt-1 d-flex justify-content-center"></span>
			<span class="d-flex justify-content-center mt-2 fonte" style="color: #f700ff;">ADMIN</span>
            <br>
			<a href="#"><span class="fa fa-home"><span class="ml-2 fonte">Home</span></span></a>
			<a href="/perfil"><span class="fa fa-user-circle"><span class="ml-2 fonte">Perfil</span> </span></a>
			<a href="/perfil"><span class="fa fa-gear"><span class="ml-2 fonte">Configurações</span></span></a>
			<br>
        </div>
        <br>
        <div class="ra" style="border-bottom: 1px solid #3a3f48;">
            <a href="/cadastro_tarefa"><span class="fa fa-file"><span class="ml-2 fonte">Criar Tarefa</span> </span></a>
            <br>
        </div>
		<br>
		<a href="/sobre"> <span class="fa fa-wheelchair-alt"><span class="ml-2 fonte">Sobre</span></span></a>
		<a href="/logout"><span class="fa fa-sign-out"><span class="ml-2 fonte">Sair</span></span></a>
	</div>

    <div class="container">
        <div class="container">
            <div class="row mt-5"></div>
            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-4"></div>
                <div class="col-4 d-flex justify-content-center"><img id="btn1" class="img-fluid" src="images/btn1.png"
                        width="80" onclick="location.href = '/licao';" style="cursor: hand;"></div>
                <div class="col-4"></div>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3 d-flex justify-content-center">
                            <img class="img-fluid" src="images/btn2.png" width="80">
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                            <img class="img-fluid" src="images/btn3.png" width="80">
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3 d-flex justify-content-center">
                            <img class="img-fluid" src="images/btn4.png" width="80">
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                            <img class="img-fluid" src="images/btn5.png" width="80">
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3 d-flex justify-content-center">
                            <img class="img-fluid" src="images/btnMg1.png" width="80">
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                            <img class="img-fluid" src="images/btnMg2.png" width="80">
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script>
		function changeNav() {

			if (document.getElementById("mySidenav").style.width == "250px") {
				document.getElementById("mySidenav").style.width = "0";
			}
			else {
				document.getElementById("mySidenav").style.width = "250px";
			}
		}
	</script>
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>