<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Apps, Ingles, English, Informatica" />
  <meta name="viewport" content="width=device-width">
  <title>Home | E-nology</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="fonts/font-nunito.css" rel="stylesheet">
  <link href="fonts/font-exo.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/mapa.css">
</head>

<body class="fundo" oncopy="return false" oncut="return false" onpaste="return false">
  <th:block th:include="navbar"></th:block>

  <div class="container" onclick="esconderSidebar()">
    <div class="container">
      <div class="row mt-5"></div>
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-4"></div>
        <div class="col-4 d-flex justify-content-center ">
          <img class="img-fluid botao-main cursor-pointer" src="images/btn1.png" onclick="changeContent(true, 1)">
        </div>
        <div class="col-4"></div>
      </div>
      <div class="row d-flex justify-content-center mt-5">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <a style="display: contents;" href="/"></a>
            <img class="img-fluid botoes-num mr-4" th:classappend="${usuario.faseAtual >= 2 ? 'cursor-pointer' : ''}" 
                 th:src="${usuario.faseAtual >= 2 ? 'images/btn2.png' : 'images/btn2L.png'}"
                 th:onclick="|changeContent(${usuario.faseAtual >= 2}, 2)|" />
            <img class="img-fluid botoes-num mr-4" th:classappend="${usuario.faseAtual >= 3 ? 'cursor-pointer' : ''}" 
                 th:src="${usuario.faseAtual >= 3 ? 'images/btn3.png' : 'images/btn3L.png'}"
                 th:onclick="|changeContent(${usuario.faseAtual >= 3}, 3)|" />
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <img class="img-fluid botoes-num mr-4" th:classappend="${usuario.faseAtual >= 4 ? 'cursor-pointer' : ''}" 
               th:src="${usuario.faseAtual >= 4 ? 'images/btn4.png' : 'images/btn4L.png'}"
               th:onclick="|changeContent(${usuario.faseAtual >= 4}, 4)|" />
          <img class="img-fluid botoes-num mr-4" th:classappend="${usuario.faseAtual >= 5 ? 'cursor-pointer' : ''}" 
               th:src="${usuario.faseAtual >= 5 ? 'images/btn5.png' : 'images/btn5L.png'}"
               th:onclick="|changeContent(${usuario.faseAtual >= 5}, 5)|" />
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
      <div class="container">
        <div class="row embaixo-botao d-flex justify-content-center">
          <a th:onclick="|acessarJogo(${usuario.faseAtual >= 6}, 'game1')|" id="game1" style="display: contents;">
            <img class="img-fluid botoes-num mr-4" th:classappend="${usuario.faseAtual >= 6 ? 'cursor-pointer' : ''}" 
                 th:src="${usuario.faseAtual >= 6 ? 'images/btnMg1.png' : 'images/btnMg1L.png'}" />
          </a>
          <a th:onclick="|acessarJogo(${usuario.faseAtual >= 6}, 'game2')|" id="game2" style="display: contents;">
            <img class="img-fluid botoes-num mr-4" th:classappend="${usuario.faseAtual >= 6 ? 'cursor-pointer' : ''}" 
                 th:src="${usuario.faseAtual >= 6 ? 'images/btnMg2.png' : 'images/btnMg2L.png'}" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body" style="display: block;">
              <div class="row d-flex justify-content-center">
                <h1 class="marca" id="txtLevel"></h1>
              </div>
              <div class="row d-flex justify-content-center">
                <i class="fa fa-linux" aria-hidden="true"></i>
                <small id="txtTitle"> </small>
              </div>
            </div>
            <div class="modal-body d-flex">
              <div class="jumbotron" style="padding: 1rem 1rem;">
                <small class="lead mb-2 text-justify text-justify" id="txtContent"></small>
                <a class="mt-5 ml-0 btn btn-primary btn-lg d-block" id="lessonId" role="button">Realizar lição</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/mapa.js"></script>
</body>

</html>