<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mingle-ng The Game | E-nology</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mingle.css">
    <link href="/fonts/font-exo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>

    </style>

</head>

<bod>

    <nav class="navbar navbar-expand-lg d-flex mb-3 border-bottom p-0">
        <div class="row nav-row">
            <div class="col-4 col-space col-style">
                <div class="navbar-brand">
                    <h2 class="font-nav"><span class="title-blue cursor-pointer fa fa-bars"
                            onclick="alterarSidebar()"></span></h2>
                </div>
            </div>
            <div class="col-4 text-center pl-0 col-style text-margin-left">
                <a class="navbar-brand title-blue" id="nav" href="/mapa">
                    <h2 class="font-nav">E-nology <span class="fa fa-gamepad"></span></h2>
                </a>
            </div>
        </div>
    </nav>
    <div id="sidebar" class="sidenav vh-100 bg-white">
        <div class="d-flex justify-content-center bg-sidebar-user">
            <img id="img_perfil" th:if="${usuario.imagem}" th:src="@{'/localCloud/' + ${usuario.imagem.link}}"
                alt="Minha Foto" width="75" class="img-fluid d-flex justify-content-center img-user">
            <span th:unless="${usuario.imagem}" class="img-user-of fa fa-user-circle"></span>
        </div>
        <strong>
            <span th:text="${usuario.nome} + ' ' + ${usuario.sobrenome}"
                class="mt-2 d-flex justify-content-center fonte user-name text-primary"></span></strong>
        <span class="fa fa-address-card d-flex justify-content-center text-primary">
            <strong><span class="fonte ml-2 text-primary">Aluno</span></strong></span>
        <br>
        <span></span>
        <a name="link" href="/mapa#"><span class="fa fa-home fonte"><span class="ml-2 fonte">Home</span></span></a>

        <a name="link" href="/perfil"><span class="fa fa-user-circle fonte"><span class="ml-2 fonte">Meu
                    Perfil</span></span></a>

        <a name="link" href="/ranking"><span class="fa fa-trophy fonte"><span
                    class="ml-2 fonte">Ranking</span></span></a>

        <a name="link" href="/progresso"><span class="fa fa-bar-chart fonte"><span
                    class="ml-2 fonte">Progresso</span></span></a>
        <br>
        <h5 class="ml-3 font-weight-normal text-primary"><strong>Sobre</strong></h5>

        <a name="link" href="/siga-nos"> <span class="fa fa-heart fonte"><span
                    class="ml-2 fonte">Siga-nos</span></span></a>
        <a name="link" href="/sobre"> <span class="fa fa-info-circle fonte"><span class="ml-2 fonte">Sobre o
                    App</span></span></a>
        <br>
        <a href="/logout"><span class="fa fa-sign-out fonte"><span class="ml-2 fonte">Sair</span></span></a>
    </div>

    <div class="container mb-3" onclick="esconderSidebar()">

        <!--   NAVBAR DO GAME   -->
        <div class="row mt-4 d-flex">

            <div class="col-3">
                <i class="fa fa-times text-muted float-right" style="cursor: pointer;;font-size: 30pt;"
                    onclick="kaka()"></i>
            </div>

            <div class="col-6 text-center" style="vertical-align: sub;">
                <small style="font-size: 18pt; color: gray; " id="time">0.0 seconds</small>
            </div>

            <div class="col-3 text-muted float-left" style="vertical-align: sub; font-size: 20pt;">
                <i class="fa fa-level-up"></i> 1
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" 
            data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <small class="text-muted text-center">

                            <div class="row d-flex justify-content-center d-inline">
                                <h5 class="text-center text-muted">Lv. 1 Concluido com sucesso</h5>
                            </div>

                            <div class="row d-flex justify-content-center d-inline">
                                <i class="fa fa-check-square-o text-success" aria-hidden="true"
                                    style="font-size: 6rem;"></i>
                            </div>

                            <div class="row justify-content-center">
                                <strong>
                                    <span class="v-super text-muted">Seu tempo foi:
                                        <span class="text-success" id="mytime"></span> </span>
                                </strong>
                                <br>

                            </div>
                            <span id="msg" class="d-flex justify-content-center"></span>

                        </small>
                    </div>
                    <div class="modal-footer">
                        <a href="/games/mingle-ng">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                        </a>
                        <a href="/games/mingle-ng/play">
                            <button type="button" class="btn btn-primary">Reiniciar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- QUADROS DO GAME -->

        <div id="words" class="row mt-5 d-flex justify-content-center animation-invert"
            style="padding-bottom: 5px; padding-top: 5px;">

            <div id="word" onclick="main(this)"
                class="col-2 border text-muted shadow-sm p-3 mb-5 bg-white rounded d-none"
                style="font-family: Verdana, Geneva, Tahoma, sans-serif ;
                    height: 100px; max-height: 100px ; cursor: pointer; justify-content: center; vertical-align: middle; margin-right: 8px;">
            </div>

        </div>
    </div>

    <div class="footer text-center" style="bottom: 0; position: absolute; width: 100%; background-color: transparent;">
        <div class="card-footer text-muted" style="font-size: 0.9rem;">
            E-nology |
            <a href="/games/mingle-ng" style="text-decoration: none;">Mingle<span style="font-family: 'Exo 2', sans-serif;">-ng The
                    Game</span></a>
            <b>v0.1</b>
        </div>
    </div>

    <script src="/js/mingleData.js"></script>
    <script src="/js/attention.js"></script>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/mingle.js"></script>
    <script src="/js/sidebar.js"></script>
    <script>
        setTimeout(() => {
            window.addEventListener("load", countTime())
        }, 500);
    </script>
    </body>

</html>