<!doctype html>
<html lang="en">

<head>
    <title>Rank | Mingle-ng The Game</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/fonts/font-exo.css" rel="stylesheet">

    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .container {
            width: 100vw;
            height: 80vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center
        }



        .box h2 {
            font-weight: 900;
            margin: 0px;
            color: #011f416c;
            flex-direction: column;
        }

        .btn {
            margin-top: 5px;
            margin-left: 0;
        }

        .jumbotron {
            padding: 15pt;
        }

        .icons {
            color: #0f7cf0;
            font-size: 1.3rem;
        }

        .list-group-item:hover {
            background-color: #e7e7e7;
        }

        .btn {
            border-radius: 10px;
        }

        .btn:hover {
            background-color: #0f7cf0 !important;
        }

        .img {
            border-radius: 50%;
            background-position: -230px -293px;
            background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/4f5a847b-99d1-408f-9adc-1efbe18c5dbe/d80rnbg-4ac63b9b-1911-44d3-858d-27946020aaaf.png/v1/fill/w_512,h_512,strp/naruto___icon_folder_by_ubagutobr_d80rnbg-fullview.png);
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            display: inline-block;
        }
    </style>
</head>

<body>

    <div class="container mt-5 text-center">
        <div class="box">

            <h2 class="text-muted mb-1">Melhores Tempos - Rank TOP 10</h2>

            <small class="text-muted text-center mb-5">TOP 10 melhores tempos no Match-nology The Game.</small>

            <ul class="m-4 nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">Nível 1</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Nível 2</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Nível 3</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <table class="table mt-4 text-muted shadow-sm p-3 mb-5 bg-white rounded">
                        <thead>
                            <tr>
                                <th scope="col">Ranking</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Time(Segundos)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <div class="img"></div>
                                    <small id="eee" style="vertical-align: top;">José Anderson</small>
                                </td>
                                <td>12.0</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <div class="img"></div>
                                    <small id="eee" style="vertical-align: top;">José Anderson</small>
                                </td>
                                <td>12.0</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <div class="img"></div>
                                    <small id="eee" style="vertical-align: top;">José Anderson</small>
                                </td>
                                <td>12.0</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>
                                    <div class="img"></div>
                                    <small id="eee" style="vertical-align: top;">José Anderson</small>
                                </td>
                                <td>12.0</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                    <table class="table mt-4 text-muted  shadow-sm p-3 mb-5 bg-white rounded">
                        <thead>
                            <tr>
                                <th scope="col">Ranking</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Time(Segundos)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <div class="img"></div>
                                    <small id="eee" style="vertical-align: top;">José Anderson</small>
                                </td>
                                <td>12.0</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <div class="img"></div>
                                    <small id="eee" style="vertical-align: top;">José Anderson</small>
                                </td>
                                <td>12.0</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <div class="img"></div>
                                    <small id="eee" style="vertical-align: top;">José Anderson</small>
                                </td>
                                <td>12.0</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>
                                    <div class="img"></div>
                                    <small id="eee" style="vertical-align: top;">José Anderson</small>
                                </td>
                                <td>12.0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

                    <table class="table mt-4 text-muted shadow-sm p-3 mb-5 bg-white rounded">
                        <thead>
                            <tr>
                                <th scope="col">Ranking</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Time(Segundos)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <div class="img"></div>
                                    <small id="eee" style="vertical-align: top;">José Anderson</small>
                                </td>
                                <td>12.0</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <div class="img"></div>
                                    <small id="eee" style="vertical-align: top;">José Anderson</small>
                                </td>
                                <td>12.0</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <div class="img"></div>
                                    <small id="eee" style="vertical-align: top;">José Anderson</small>
                                </td>
                                <td>12.0</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>
                                    <div class="img"></div>
                                    <small id="eee" style="vertical-align: top;">José Anderson</small>
                                </td>
                                <td>12.0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class=" text-center" style="bottom: 0; position: absolute; width: 100%; background-color: transparent;">
        <div class="card-footer text-muted" style="font-size: 0.9rem;">
            E-nology |
            <a href="/games/mingle-ng" style="text-decoration: none;">Mingle<span style="font-family: 'Exo 2', sans-serif;">-ng The
                    Game</span></a>
            <strong>v0.1</strong>
        </div>
    </div>

    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>