<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yamato's Future - An Interactive Story Game | E-nology</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/yamato.css">
    <link href="../fonts/font-exo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="background" class="attention-background">
    <nav class="navbar navbar-expand-lg d-flex mb-3 border-bottom p-0">
        <div class="row nav-row">
            <div class="col-4 col-space col-style">
                <div class="navbar-brand">
                    <h2 class="font-nav"><span class="title-blue cursor-pointer fa fa-bars"
                            onclick="alterarSidebar()"></span></h2>
                </div>
            </div>
            <div class="col-4 text-center pl-0 col-style text-margin-left">
                <a class="navbar-brand title-blue" id="nav" href="/mapa">
                    <h2 class="font-nav">E-nology <span class="fa fa-gamepad"></span></h2>
                </a>
            </div>
            <div class="col-4 text-right col-style col-space pr-0 mr-0">
                <div class="navbar-brand title-blue">
                    <h2 class="font-nav"><span class="fa fa-volume-off cursor-pointer"
                            title="Clique para ativar o som"></span></h2>
                </div>
            </div>
        </div>
    </nav>
    <div id="sidebar" class="sidenav vh-100 bg-white">
            <div class="d-flex justify-content-center bg-sidebar-user">
                <img id="img_perfil" th:if="${usuario.imagem}" th:src="@{'/localCloud/' + ${usuario.imagem.link}}"
                    alt="Minha Foto" width="75" class="img-fluid d-flex justify-content-center img-user">
                <span th:unless="${usuario.imagem}" class="img-user-of fa fa-user-circle"></span>
            </div>
            <strong>
                <span th:text="${usuario.nome} + ' ' + ${usuario.sobrenome}"
                    class="mt-2 d-flex justify-content-center fonte user-name text-primary"></span></strong>
            <span class="fa fa-address-card d-flex justify-content-center text-primary">
                <strong><span class="fonte ml-2 text-primary">Aluno</span></strong></span>
            <br>
        <span></span>
        <a name="link" href="/mapa#"><span class="fa fa-home fonte"><span class="ml-2 fonte">Home</span></span></a>

        <a name="link" href="/perfil"><span class="fa fa-user-circle fonte"><span class="ml-2 fonte">Meu
                    Perfil</span></span></a>

        <a name="link" href="/ranking"><span class="fa fa-trophy fonte"><span
                    class="ml-2 fonte">Ranking</span></span></a>

        <a name="link" href="/progresso"><span class="fa fa-bar-chart fonte"><span
                    class="ml-2 fonte">Progresso</span></span></a>
        <br>
        <h5 class="ml-3 font-weight-normal text-primary"><strong>Sobre</strong></h5>

        <a name="link" href="/siga-nos"> <span class="fa fa-heart fonte"><span
                    class="ml-2 fonte">Siga-nos</span></span></a>
        <a name="link" href="/sobre"> <span class="fa fa-info-circle fonte"><span class="ml-2 fonte">Sobre o
                    App</span></span></a>
        <br>
        <a href="/logout"><span class="fa fa-sign-out fonte"><span class="ml-2 fonte">Sair</span></span></a>
    </div>

    <div id="attention" onclick="esconderSidebar()">
        <div class="jumbotron">
            <div class="container ">
                <div class="row">
                    <div class="col col d-flex justify-content-center">
                        <h1 class="display-3 text-center text-info attention-jumbotron">Yamato's Future</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col col d-flex justify-content-center">
                        <small class="text-muted attention">An Interactive Story Game</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col d-flex justify-content-center">
                    <ul class="list-group list-group-flush text-justify text-secondary">
                        <li class="list-group-item">
                            <span>1. Agora que você acabou as lições, pode
                                jogar esse minigame quantas vezes quiser!
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span>2. Tente responder as perguntas sem pesquisar,
                                usando apenas do seu próprio conhecimento.
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span>3. As decisões influenciam diretamente no
                                futuro do personagem, então escolha com sabedoria.
                            </span>
                        </li>
                        </li>
                        <li class="list-group-item">
                            <span>4. Explore as opções! Atualmente, 10 finais já estão disponíveis!
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row float-right mt-2">
                <button class="btn btn-lg botao mt-4 mb-3 btn-attention" type="button" disabled id="butao"
                    onclick="hideAttention(), subir()">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>

    <div class="container hide mt-1" id="start" onclick="esconderSidebar()">
        <div class="col align-self-center">
            <div class=" row mt-3 d-flex justify-content-center">
                <img src="https://i.imgur.com/MIToynR.gif" class="img-fluid">
            </div>
            <div class="row mt-4 d-flex justify-content-center">
                <p class="mb-3 text-monospace text-danger">Digite 'start' abaixo para jogar.</p>
            </div>
            <div class="row mt-4 d-flex justify-content-center">
                <input type="text" id="startTxt" class="bg-dark mb-3 text-white w-75 text-monospace"
                    value="[Hacker@Har ~]$ " onkeyup="showTutorial()">
            </div>
        </div>
    </div>

    <div class="container mt-5 hide" id="tutorial" onclick="esconderSidebar()">
        <div class="row d-flex justify-content-md-center">
            <h1 class="text-warning text-center mt-4">Welcome to Yamato's Future</h1>
        </div>
        <div class="row mt-3 d-flex justify-content-center">
            <img src="https://i.imgur.com/q9bFY2X.png" class="img-fluid">
        </div>
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <p class="text-white text-justify">
                    Neste jogo você decide as ações de Yamato, um hacker
                    iniciante que sonha em ser lembrado como uma lenda.
                </p>
                <p class="text-white text-justify">
                    Antes de cada decisão, você deve responder corretamente a uma pergunta
                    sobre 'programação' ou 'inglês na informática'.
                </p>
            </div>
            <div class="container">
                <div class="row d-flex justify-content-center mt-3 mb-5">
                    <input type="button" value="</Continuar>" class="btn btn-light mb-5 w-75 btn-continue"
                        onclick="startGame(), subir()">
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-5 hide" id="game_question" onclick="esconderSidebar()">
        <div class="container">
            <div id="resume">
                <div class="row d-flex justify-content-center mb-5">
                    <h6 class="text-danger text-center mt-4">RESUMO</h6>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 text-center">
                        <img class="card-img-top" src="" alt="Card image cap" id="continueImage">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="container d-flex h-100 bg-text">
                            <div class="row justify-content-center align-self-center">
                                <h5 class="card-title text-center" id="continueTitle"></h5>
                                <p class="card-text text-justify" id="continueText"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 d-flex justify-content-center space">
                    <input class="btn btn-outline-info w-50 mb-5" id="btn-resume" type="button" value="Continuar"
                        onclick="hideResume(), subir()">
                </div>
            </div>
            <div id="question" class="hide">
                <div class="row d-flex justify-content-center">
                    <h6 class="text-danger text-center mt-4">PERGUNTA</h6>
                </div>
                <div class="row d-flex justify-content-center mt-5">
                    <h5 class="text-white text-justify" id="questionMessage"></h5>
                </div>
                <div class="row mt-3 d-flex justify-content-center">
                    <figure>
                        <figcaption class="text-center text-muted">Exemplo</figcaption>
                        <img src="" class="img-fluid" id="questionImage">
                    </figure>
                </div>
                <div class="row mt-4">
                    <div class="container">
                        <div class="col-sm-12 d-flex justify-content-center mt-2">
                            <span class="hide text-center text-warning" id="result"></span>
                        </div>
                        <div class="col-sm-12 d-flex justify-content-center mt-2">
                            <input type="text" id="answerTxt" class="bg-dark text-white w-50 text-monospace"
                                value="[Hack@Har ~]$ ">
                        </div>
                        <div class="col-sm-12 d-flex justify-content-center mt-2 mb-5">
                            <input class="btn btn-outline-info w-50 btn-continue mb-3" type="button" id="btnContinue"
                                value="Continuar" onclick="checkAnswer(), subir()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 hide mb-4" id="game_choice" onclick="esconderSidebar()">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <h6 class="text-danger text-center mt-4">HORA DE ESCOLHER!</h6>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12 col-md-6 text-center">
                    <img class="card-img-top" src="" alt="Card image cap" id="card-image">
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="container d-flex h-100 bg-text text-center">
                        <div class="row justify-content-center align-self-center">
                            <h5 class="card-title text-center" id="card-title"></h5>
                            <p class="card-text text-justify" id="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5 space">
                <h5 class="text-white text-justify">Qual sua decisão?</h5>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-sm-12 d-flex justify-content-center mt-2 mb-4">
                        <input class="btn btn-outline-info w-75 mb-3" type="button" id="btn1"
                            onclick="chooseOption(this.value), subir()">
                        <input class="btn btn-outline-info w-75 mb-3" type="button" id="btn2"
                            onclick="chooseOption(this.value), subir()">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/attention.js"></script>
    <script src="../js/sidebar.js"></script>
    <script src="../js/yamato.js"></script>
    <script src="../js/yamatosContent.js"></script>
</body>

</html>